﻿@model OnlineCreditsTeam1.Models.DocumentsViewModels.DocumentUploadViewModel
@inject UserManager<ApplicationUser> UserManager



@if (User.IsInRole("user"))
{
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Загрузить скан документа</button>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal_window">
            <div>

                <form class="form-group" method="post" id="docform" enctype="multipart/form-data" data-toggle="validator" asp-action="DocumentScanLoad">
                    <div>
                        <h4 class="text-center">Загрузка скана документа</h4>
                    </div>

                    <div class="form-group" style="margin-top: 20px;">
                        <p>Выберите тип документа</p>
                        <select required class="form-control" asp-for="DocumentTitle" id="docTitle">
                            <option selected disabled>Выберите тип документа</option>
                            <option value="passportFront">Скан паспорта лицевая</option>
                            <option value="passportBack">Скан паспорта тыльная</option>
                            <option value="workBlank">Справка с работы</option>
                            <option value="homeBlank">Справка с места проживания</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <p>Дата выдачи</p>
                        <div class='input-group date' id='datetimepicker2'>
                            <input type='text' class="form-control" class="form-control" asp-for="DateOfReceive" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <p>Орган выдавший документ</p>
                        <input type="text" pattern="MKK \d{2}-\d{2}" placeholder="MKK 50-55" class="form-control" asp-for="WhoTakeBlank" />
                    </div>
                    <p>Загрузите скан документа</p>
                    <input required type="hidden" asp-for="UserId" value="@UserManager.GetUserAsync(User).Result.Id" />
                    <input required type="hidden" asp-for="OrderId" value="@Model.OrderId" />
                    <div>
                        <input asp-for="DocumentFile" class="form-control" />
                    </div>
                    <div id="dynamicFields">

                    </div>
                    <input class="btn btn-default center-block" style="margin-top: 15px;" type="submit" value="Загрузить документ" />
                </form>
            </div>
        </div>
    </div>

    <div id="passport" style="display: none;">
        <p>Номер паспорта</p>
        <input type="text" pattern="AN \d{8}" placeholder="AN 123456789" class="form-control" required="" asp-for="PassportNumber" />
    </div>
    <div id="homeBlank" style="display: none;">
        <p>Адрес проживания</p>
        <input type="text" maxlength="100" class="form-control" asp-for="HomeAddress" />

        <p>Сумма задолженности</p>
        <input type="number" maxlength="12" class="form-control" asp-for="DebtSum" />
    </div>
    <div id="workBlank" style="display: none;">
        <p>Дата начала работы</p>
        <input type="date" class="form-control" asp-for="WorkBeginDate" />

        <p>Заработная плата</p>
        <input type="number" maxlength="12" class="form-control" asp-for="Salary" />
    </div>
}
else
{
    <h3></h3>
}
<script>
    window.onload = function () {
        $('#docform').validator();

    };

    $(function () {
       


        $('#docTitle').change(function() {
            if (this.value == 'homeBlank') {
                $('#homeBlank').clone().addClass("newHome").appendTo('#dynamicFields');
                $('.newHome').show();
                $('.newWork').remove();
                $('.passport').remove();
            } else if (this.value == 'workBlank') {
                $('#workBlank').clone().addClass("newWork").appendTo('#dynamicFields');
                $('.newWork').show();
                $('.newHome').remove();
                $('.passport').remove();
            } else if (this.value == 'passportFront' || this.value == 'passportFront') {
                if ($('.passport').length === 0) {
                    $('#passport').clone().addClass("passport").appendTo('#dynamicFields');
                    $('.passport').show();
                }
                $('.newHome').remove();
                $('.newWork').remove();

            }
        });

    });
</script>


