﻿@using System.Text.Encodings.Web
@model OnlineCreditsTeam1.Models.DocumentsViewModels.DocumentUploadViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@await Html.PartialAsync("_DocumentUploadPartial")
<div id="documents" style="display: block;">
    <h3>@Localizer["uploaded_documents"]</h3>
    @if (Model.Documents.Count > 0 && Model.Documents != null)
    {
        foreach (Document doc in Model.Documents)
        {

            <div style="width: 350px; margin: 15px; display: inline-block; border: 1px solid silver; padding: 5px; border-radius: 5px;">
                <div>
                    <img src="@doc.Path" width="339px" />
                </div>
                <p style="text-align: center; margin-top: 15px; font-weight: bold;">@doc.Title.ToUpper()</p>
                @if (String.IsNullOrEmpty(doc.Json))
                {
                <p>@Localizer["no_additional_information_on_the_document"]</p>
                }
                else
                {


                    foreach (var docum in doc.Json.Trim('{', '}', '"').Split(','))
                    {
                        <p><b>@docum.Trim('"').Split(':')[0].Trim('"')</b> --   @docum.Trim('"').Split(':')[1].Trim('"')</p>
                    }


                }

                @if (doc.IsApproved)
                {
                        <p style="text-align: center; margin-top: 15px; font-weight: bold;">@Localizer["document_approved"]</p>
                }
                else if (String.IsNullOrEmpty(doc.DeclineMessage))
                {
                        <p style="margin-top: 15px;"><b>Статус:</b>@Localizer["document_is_pending_review"] </p>
                }
                else
                {
                        <p style="margin-top: 15px; font-weight: bold;">@Localizer["document_rejected"]</p>
                        <p style="text-align: left; margin-top: 5px; font-weight: bold;">@Localizer["reason_for_rejection"]</p>
                    <p>@doc.DeclineMessage</p>
                }

                @if (User.IsInRole("BankOperator"))
                {
                    <div>

                        @if (!doc.IsApproved && String.IsNullOrEmpty(doc.DeclineMessage))
                        {
                            <a class="btn btn-success" asp-route-documentId="@doc.Id" asp-action="ConfirmDocument" asp-controller="Orders">confirm</a>
                            <a class="btn btn-danger" id="declineDocument">decline</a>
                            <div id="declineForm" style="display: none;">
                                <form asp-action="DeclineDocument" asp-controller="Orders" method="post">
                                    <div class="form-group">
                                        <p>@Localizer["reason_for_rejection"]</p>
                                        <div class="form-group">
                                            <textarea name="message" class="form-control" placeholder="@Localizer["specify_the_reason_for_rejection"]"></textarea>
                                        </div>
                                        <input type="hidden" name="documentId" value="@doc.Id" />
                                        <input type="submit" id="" value="@Localizer["send"]" class="btn btn-default" />
                                    </div>
                                </form>
                            </div>
                        }
                        else if (String.IsNullOrEmpty(doc.DeclineMessage))
                        {
                            <a class="btn btn-danger" id="declineDocument">decline</a>
                            <div id="declineForm" style="display: none;">
                                <form asp-action="DeclineDocument" asp-controller="Orders" method="post">
                                    <div class="form-group">
                                        <p>@Localizer["reason_for_rejection"]</p>
                                        <div class="form-group">
                                            <textarea name="message" class="form-control" placeholder="@Localizer["specify_the_reason_for_rejection"]"></textarea>
                                        </div>
                                        <input type="hidden" name="documentId" value="@doc.Id" />
                                        <input type="submit" id="" value="@Localizer["send"]" class="btn btn-default" />
                                    </div>
                                </form>
                            </div>
                        }
                        else
                        {
                            <div></div>
                        }

                    </div>
                }
                else
                {
                    if (User.IsInRole("user"))
                    {
                        <form asp-action="DeleteDocument" method="post">
                            <input type="hidden" name="documentId" value="@doc.Id" />
                            <input type="submit" class="btn btn-default" value="@Localizer["delete"]" />
                        </form>
                    }
                    else
                    {
                        <div class="col-md-3"></div>
                    }
                }
            </div>
        }
    }
    else
    {
            <p>@Localizer["you_have_not_uploaded_documents_yet"]</p>
    }
</div>
<script>
    $("#declineDocument").on('click',
        function () {
            $("#declineForm").show(100);
            $("#declineDocument").hide();
        });

</script>

<script>
    function GetData(json) {
        var data = JSON.parse(json);
        console.log(data);
    }
</script>





