﻿@model OnlineCreditsTeam1.Models.OrderViewModel.RepaimentGraphicViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<table class="table">
    <tr>
        <td>@Localizer["beginning_of_the_calculation_period"]</td>
        <td>@Localizer["end_of_billing_period"]</td>
        <td>@Localizer["amount_for_the_billing_period"]</td>
    </tr>
    @{ decimal sum = Model.SumOfCredit;}
    @for (int i = 0; i < Model.PeriodsOfRepaiment.Count; i++)
    {
        <tr>
            <td>@Model.PeriodsOfRepaiment[i].ToLongDateString()</td>
            <td>@Model.PeriodsOfRepaiment[i].AddMonths(1).ToLongDateString()</td>
            <td>@Math.Round(Model.SumsOfCreditForPeriod[i], 2) сом</td>
        </tr>
    }


</table>