﻿@using Microsoft.AspNetCore.Identity
@using OnlineCreditsTeam1.Models
@model OnlineCreditsTeam1.Models.DocumentsViewModels.DocumentUploadViewModel
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@if (User.IsInRole("user"))
{



    <div class="modal_window">
        <div>
            <h2>@Localizer["error"]</h2>
            <h3>@Localizer["the_size_or_format_of_the_download_is_not_suitable"]</h3>
            <input class="btn btn-default left-block" style="margin-top: 15px;" asp-controller="Manage" asp-action="UserProfile" value="Вернуться в профиль" />
            <form class="form-group" method="post" enctype="multipart/form-data" asp-action="DocumentScanLoad">


                <div class="form-group" style="margin-top: 20px;">
                    <p>@Localizer["select_document _type"]</p>
                    <select required class="form-control" asp-for="DocumentTitle" id="docTitle">
                        <option selected disabled>@Localizer["select_document _type"]</option>
                        <option value="passportFront">@Localizer["passport_scan_face"]</option>
                        <option value="passportBack">@Localizer["passport_scan_back"]</option>
                        <option value="workBlank">@Localizer["help_from_work"]</option>
                        <option value="homeBlank">@Localizer["help_from_the_place_of_residence"]</option>
                    </select>
                </div>
                <div class="form-group">
                    <p>@Localizer["date_of_issue"]</p>
                    <input type="date" class="form-control" asp-for="DateOfReceive" />
                </div>
                <div class="form-group">
                    <p>@Localizer["Issuing_authority"]</p>
                    <input type="text" class="form-control" asp-for="WhoTakeBlank" />
                </div>
                <p>@Localizer["download_document_scan"]</p>
                <input required type="hidden" asp-for="UserId" value="@UserManager.GetUserAsync(User).Result.Id" />
                <input required type="hidden" asp-for="OrderId" value="@Model.OrderId" />
                <div>
                    <input asp-for="DocumentFile" class="form-control" />
                </div>
                <div id="dynamicFields">

                </div>
                <input class="btn btn-default center-block" style="margin-top: 15px;" type="submit" value="@Localizer["download_the_document"]" />

            </form>
        </div>
    </div>


    <div id="passport" style="display: none;">
        <p>@Localizer["Passport_ID"]</p>
        <input type="text" class="form-control" asp-for="PassportNumber" />
    </div>
    <div id="homeBlank" style="display: none;">
        <p>@Localizer["residential_address"]</p>
        <input type="text" class="form-control" asp-for="HomeAddress" />

        <p>@Localizer["amount_owed"]</p>
        <input type="text" class="form-control" asp-for="DebtSum" />
    </div>
    <div id="workBlank" style="display: none;">
        <p>@Localizer["start_date"]</p>
        <input type="date" class="form-control" asp-for="WorkBeginDate" />

        <p>@Localizer["wage"]</p>
        <input type="text" class="form-control" asp-for="Salary" />
    </div>
}
else
{
    <h3></h3>
}
<script>
    $(function () {
        $('#docTitle').change(function () {

            if (this.value == 'homeBlank') {
                $('#homeBlank').clone().addClass("newHome").appendTo('#dynamicFields');
                $('.newHome').show();
                $('.newWork').remove();
                $('.passport').remove();
            } else if (this.value == 'workBlank') {
                $('#workBlank').clone().addClass("newWork").appendTo('#dynamicFields');
                $('.newWork').show();
                $('.newHome').remove();
                $('.passport').remove();
            } else if (this.value == 'passportFront' || this.value == 'passportFront') {
                if ($('.passport').length === 0) {
                    $('#passport').clone().addClass("passport").appendTo('#dynamicFields');
                    $('.passport').show();
                }
                $('.newHome').remove();
                $('.newWork').remove();

            }
        }
        )
    });
</script>



