﻿@using OnlineCreditsTeam1.Models
@model List<OnlineCreditsTeam1.Models.LogModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="row">
    <div class="col-md-12">
        <div style="padding: 15px;">

            <div style="border-bottom: 1px solid silver;">
                <span style="width: 20%; font-weight: bold; display: inline-block; border-right: 1px solid silver;">@Localizer["date"]</span>
                <span style="width: 75%; font-weight: bold;">@Localizer["message"]</span>
            </div>
            @foreach (LogModel log in @Model)
            {
                <div style="margin-top: 10px; display: block;">
                    <span style="width: 20%; display: inline-block; border-right: 1px solid silver;">@log.ActionDate</span>
                    <span style="width: 75%;">@log.LogMessage</span>
                </div>
            }
        </div>
    </div>
</div>