﻿@model ApplicationUser
@{
    ViewData["Title"] = "Locked";
}

<h2>Пользователь заблокирован</h2>
<td><a asp-action="UserDetails" asp-controller="UserManagement" asp-route-id="@Model.Id">Вернуться в профиль пользователя</a></td>

