﻿@model IEnumerable<OnlineCreditsTeam1.Models.ApplicationUser>

<h2>Список пользователей</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td><a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Права доступа</a></td>
            <td>
                <form method="post" asp-controller="Roles" asp-action="Locked" asp-route-userid="@user.Id">                   
                    <input type="submit" value="Блокировать" class="btn btn-default" />
                </form>               
            </td>
            <td>
                <form method="post" asp-controller="Roles" asp-action="UnLocked" asp-route-userid="@user.Id">
                    <input type="submit" value="Разблокировать" class="btn btn-default" />
                </form>
            </td>
            

        </tr>
    }
</table>