﻿@using Microsoft.CodeAnalysis
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model LoginViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<div class="row">
    <div class="col-md-4">
        <section>

            <form asp-action="SendPwd" asp-controller="Account" method="post" class="loginForm">

                @Html.Partial("_StatusMessage", @ViewData["StatusMessage"])
                <h3>@Localizer["EnterNumberPhoneToReceivePassword"]</h3>
                <hr />
                <div class="form-group" style="margin-bottom: 5px;">
                    <label>Номер телефона</label>
                    <select id="country" class="form-control" style="margin-bottom: 5px;">
                        <option value="kg">@Localizer["country_code_Kyrgyzstan"]</option>
                        <option value="ru">@Localizer["country_code_Russia"]</option>
                        <option value="ua">@Localizer["country_code_Ukraine"]</option>
                        <option value="by">@Localizer["country_code_Belarus"]</option>
                    </select>
                    <input id="phone" asp-for="PhoneNumber" placeholder="@Localizer["EnterNumberPhone"]" required type="tel" class="form-control">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">@Localizer["Send_password"]</button>
                </div>

            </form>

        </section>
        <style>
            .loginForm {
                position: absolute;
                left: 91%;
                margin-top: 9%;
                width: 500px;
                padding: 15px;
            }
        </style>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="~/js/jquery.maskedinput.js" charset="utf-8"></script>
<script>
    jQuery(function ($) {
        $(function () {
            function maskPhone() {
                var country = $('#country option:selected').val();
                switch (country) {
                    case "ru":
                        $("#phone").mask("+7__________");
                        break;
                    case "ua":
                        $("#phone").mask("+380__________");
                        break;
                    case "by":
                        $("#phone").mask("+375__________");
                        break;
                    case "kg":
                        $("#phone").mask("+996_________");
                        break;
                }
            }
            maskPhone();
            $('#country').change(function () {
                maskPhone();
            });
        });
    });
</script>

