﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model CreatureByTheAdminUserViewModel

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="~/js/jquery.maskedinput.js" charset="utf-8"></script>



<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4>@Localizer["Create_a_new_account"]</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <label>@Localizer["role_label"]</label>
            <div class="form-group">
                <select name="Role" id="options" class="form-control">
                    @foreach (IdentityRole role in Model.AllRoles)
                    {
                        <option value="@role.Name">@role.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>@Localizer["phone_number_label"]</label>
                <select id="country" class="form-control" style="margin-bottom: 5px;">
                    <option value="kg">@Localizer["country_code_Kyrgyzstan"]</option>
                    <option value="ru">@Localizer["country_code_Russia"]</option>
                    <option value="ua">@Localizer["country_code_Ukraine"]</option>
                    <option value="by">@Localizer["country_code_Belarus"]</option>
                </select>
                <input id="phone" asp-for="PhoneNumber" type="tel" class="form-control">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>@Localizer["name_label"]</label>
                <input asp-for="Name" type="text" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group" style="display: none;" id="inn">
                <label>@Localizer["INN"]</label>
                <input asp-for="Inn" class="form-control" type="number" />
                <span asp-validation-for="Inn" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none;" id="bik">
                <label>@Localizer["Bik"]</label>
                <input asp-for="Bik" class="form-control" type="text" />
                <span asp-validation-for="Bik" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none;" id="legal_adress">
                <label>@Localizer["legalAdress"]</label>
                <input asp-for="LegalAdress" class="form-control" type="text" />
                <span asp-validation-for="LegalAdress" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none;" id="numBank">
                <label>@Localizer["numBank"]</label>
                <input asp-for="BankAccountNumber" class="form-control" type="number"/>
                <span asp-validation-for="BankAccountNumber" class="text-danger"></span>
            </div>

            <div id="creditadmin" class="form-group">

            </div>
            <button type="submit" class="btn btn-default">@Localizer["create"]</button>
        </form>

        <div style="display: none;" id="adminSelect">
            <label>@Localizer["Bank-operators"]</label>
            <select name="CreditAdminId" class="form-control">
                @foreach (ApplicationUser user in Model.AllBankOperators)
                {
                    <option value="@user.Id">@user.Name</option>
                }
            </select>
        </div>
    </div>
</div>

<script type='text/javascript'>

    $(function (){
        $('#options').change(function(){

            if (this.value == 'BankOperator' || this.value == 'admin') {
                
                $('#inn').show();
                $('#bik').hide();
                $('#legal_adress').hide();
                $('#numBank').hide();
                $('#bankOperators').hide();
                $('.new').hide();
                $('.new').remove();
            }

            else if (this.value == 'MarketOperator') {

                $('#inn').hide();
                $('#bik').show();
                $('#legal_adress').show();
                $('#numBank').show();
                $('#adminSelect').clone().addClass("new").appendTo('#creditadmin');
                $('.new').show();
            }
            else
            {
                $('#bankOperators').hide();
                $('#inn').hide();
                $('#bik').hide();
                $('#legal_adress').hide();
                $('#numBank').hide();
                $('.new').remove();

            }
        });
    });

</script>
<script>
    jQuery(function ($) {
        $(function () {
            function maskPhone() {
                var country = $('#country option:selected').val();
                switch (country) {
                    case "ru":
                        $("#phone").mask("+7__________");
                        break;
                    case "ua":
                        $("#phone").mask("+380__________");
                        break;
                    case "by":
                        $("#phone").mask("+375__________");
                        break;
                    case "kg":
                        $("#phone").mask("+996_________");
                        break;
                }
            }
            maskPhone();
            $('#country').change(function () {
                maskPhone();
            });
        });
    });
</script>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

