﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = Localizer["Title_Login"];
}
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <section>

            <form asp-action="Login" asp-controller="Account" method="post" class="loginForm">
                <h3>@Localizer["EnterNumberPhone"]</h3>
                <p id="pas">@Model.Password</p>
                <hr />
                <div class="form-group" style="margin-bottom: 5px;">
                    <label>Номер телефона</label>
                    <select id="country" class="form-control" style="margin-bottom: 5px;">
                        <option value="kg">@Localizer["country_code_Kyrgyzstan"]</option>
                        <option value="ru">@Localizer["country_code_Russia"]</option>
                        <option value="ua">@Localizer["country_code_Ukraine"]</option>
                        <option value="by">@Localizer["country_code_Belarus"]</option>
                    </select>
                    <input id="phone" asp-for="PhoneNumber" type="tel" class="form-control">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>@Localizer["password_label"]</label>
                    <input asp-for="Password" type="text" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button id="submit" type="submit" class="btn btn-default">@Localizer["Title_Login"]</button>
                </div>

            </form>



        </section>
    </div>

    <style>
        .loginForm {
            position: absolute;
            left: 91%;
            margin-top: 9%;
            width: 500px;
            padding: 15px;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/js/jquery.maskedinput.js" charset="utf-8"></script>
    <script>
        jQuery(function ($) {
            $(function () {
                function maskPhone() {
                    var country = $('#country option:selected').val();
                    switch (country) {
                        case "ru":
                            $("#phone").mask("+7__________");
                            break;
                        case "ua":
                            $("#phone").mask("+380__________");
                            break;
                        case "by":
                            $("#phone").mask("+375__________");
                            break;
                        case "kg":
                            $("#phone").mask("+996_________");
                            break;
                    }
                }
                maskPhone();
                $('#country').change(function () {
                    maskPhone();
                });
            });
        });
    </script>
</div>



