﻿@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div class="form-group">
                <label>Имя</label>
                <input id ="name" asp-for="Name" type="text" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: 5px;">
                <label>Номер телефона</label>
                <select id="country" class="form-control" style="margin-bottom: 5px;">
                    <option value="kg">Кыргызстан +996</option>
                    <option value="ru">Россия +7</option>
                    <option value="ua">Украина +380</option>
                    <option value="by">Белоруссия +375</option>
                </select>
                <input id="phone" asp-for="PhoneNumber" type="tel" class="form-control">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="~/js/jquery.maskedinput.js" charset="utf-8"></script>
<script>
    jQuery (function ($) {  
        $(function() {
            function maskPhone() {
                var country = $('#country option:selected').val();
                switch (country) {
                case "ru":
                    $("#phone").mask("+7__________");
                    break;
                case "ua":
                    $("#phone").mask("+380__________");
                    break;
                case "by":
                    $("#phone").mask("+375__________");
                    break;
                case "kg":
                    $("#phone").mask("+996_________");
                    break;  
                }    
            }
            maskPhone();
            $('#country').change(function() {
                maskPhone();
            });
        });
    });
    $(function(){
        $('#phone', this).focus();
    });
</script>
