﻿@model List<Order>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div id="searchresults">
    <div class="table-container">
        @if (Model.Count == 0)
        {
            <h4 class="text-center">@Localizer["no_applications"]</h4>
        }
        @if (Model.Count > 0)
        {
            <div class="table_row_not_clickable col-md-12">
                <div class="col-md-2">
                    @Localizer["id"]
                </div>
                <div class="col-md-2">
                    @Localizer["payment_start_date"]
                </div>
                <div class="col-md-2">
                    @Localizer["payment_end_date"]
                </div>
                <div class="col-md-2">
                    @Localizer["sum"]
                </div>
                <div class="col-md-2">
                    @Localizer["status"]
                </div>
            </div>
            foreach (Order order in Model)
            {
                <div class="order-item col-md-12">
                    <div class="col-md-12">
                        <div class="col-md-2">@order.Id</div>
                        <div class="col-md-2">@order.BeginDate</div>
                        <div class="col-md-2">@order.FinishDate</div>
                        <div class="col-md-2">@order.Sum сом</div>
                        <div class="col-md-1"><span class="badge-green badge-secondary">@order.Status</span></div>
                        @if ((User.IsInRole("user") || User.IsInRole("BankOperator")) && order.Status == "new" || order.Status == "Новая" || order.Status == "новая")
                        {
                            <div class="col-md-3" style="z-index: 9999; text-align: center;">
                                <a class="btn btn-danger" asp-route-orderId="@order.Id" asp-action="DeclineOrder" asp-controller="Orders">decline</a>
                                <a class="btn btn-success" asp-route-orderId="@order.Id" asp-action="ConfirmOrder" asp-controller="Orders">confirm</a>
                            </div>
                        }
                        @if (User.IsInRole("BankOperator") && order.Status == "Ожидает проверки" || order.Status.Contains("ожидает"))
                        {
                            <div class="col-md-3" style="z-index: 9999; text-align: center;">
                                <a class="btn btn-danger" asp-route-orderId="@order.Id" asp-action="DeclineOrder" asp-controller="Orders">decline</a>
                                <a class="btn btn-success" asp-route-orderId="@order.Id" asp-action="ConfirmOrder" asp-controller="Orders">confirm</a>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-3"></div>
                        }

                    </div>
                    <ul class="col-md-12">
                        <li class="graphic-repaiment col-md-8">
                            @Localizer["info"]
                        </li>
                        @if (order.Status == "одобрена" || order.Status == "confirmed" || order.Status == "Одобрена" || order.Status == "Подтверждено банком")
                        {
                        <li class="graphic-repaiment col-md-8" onclick="OpenGraphicOfRepaiments(@order.Id)">
                            @Localizer["loan_repayment_schedule"]
                        </li>
                        }
                        <li class="graphic-repaiment col-md-8" onclick="OpenDocuments(@order.Id)">
                            @Localizer["documents"]
                        </li>
                    </ul>

                </div>




            }

        }
    </div>
    <style>
        .order-item {
            padding: 10px;
            display: block;
        }

        .order-item:hover {
            cursor: pointer;
        }

        .order-item > ul {
            margin: 0;
            list-style: none;
            padding-left: 20px;
            display: none;
        }

        .table_row_not_clickable {
            padding: 10px;
        }


        .graphic-repaiment {
            padding: 10px;
        }

        .graphic-repaiment:hover {
            cursor: pointer;
            background: rgb(234, 228, 228);
        }
    </style>
    <script>
        var isClicked = true;

        if (isClicked === true) {
            $(".order-item").on("click",
                function() {
                    $(this).find("ul").show('slow');
                    isClicked = false;
                });
        }

        $('.order-item').on("mouseleave",
            function() {
                $(this).find("ul").hide('slow');
                isClicked = true;
            });

        function OpenGraphicOfRepaiments(orderId) {
            $.ajax({
                type: 'GET',
                data: { orderId },
                success: function() {
                    var href = '@Url.Action("GraphicRepaimentsDetails", "Orders")?orderId=' + orderId;
                    $('#searchresults').load(href);
                }
            });
            isClicked = true;
        }

        function OpenDocuments(orderId) {
            $.ajax({
                type: 'GET',
                data: { orderId },
                success: function() {
                    var href = '@Url.Action("DocumentsDetails", "Orders")?orderId=' + orderId;
                    $('#searchresults').load(href);
                }
            });
            isClicked = true;
        }
    </script>

</div>
