﻿@using System.Collections
@using X.PagedList
@using X.PagedList.Mvc.Common
@using X.PagedList.Mvc.Core
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model X.PagedList.IPagedList<ApplicationUser>
@inject RoleManager<IdentityRole> roleManager
@inject UserManager<ApplicationUser> UserManager

<form action="" method="get" class="search">
    <input type="search" name="userName" placeholder="поиск" value="@ViewBag.UserNameFilter" class="input" />
    <input type="hidden" name="sortOrder" value="@ViewBag.CurrentSort " />
    <input type="submit" name="" value="" class="submit" />
</form>



<table class="table table-striped">
    <thead>
        <tr>

            <th scope="col">
                <a asp-action="UserListForAdmin"
                   asp-route-userName="@ViewBag.UserNameFilter"
                   asp-route-sortOrder="@ViewBag.NameSort">
                    @Localizer["name"]
                </a>
            </th>
            <th scope="col">
                <a asp-action="UserListForAdmin"
                   asp-route-userName="@ViewBag.UserNameFilter"
                   asp-route-sortOrder="@ViewBag.RoleSort">
                    @Localizer["role"]
                </a>
            </th>
            <th scope="col">
                <a asp-action="UserListForAdmin"
                   asp-route-userName="@ViewBag.UserNameFilter"
                   asp-route-sortOrder="@ViewBag.UserNameSort">
                    @Localizer["phone_number"]
                </a>
            </th>
            <th scope="col">
                <a asp-action="UserListForAdmin"
                   asp-route-userName="@ViewBag.UserNameFilter"
                   asp-route-sortOrder="@ViewBag.StatusSort">
                    @Localizer["status"]
                </a>
            </th>

            <th scope="col">
                <a asp-action="UserListForAdmin"
                   asp-route-userName="@ViewBag.UserNameFilter"
                   asp-route-sortOrder="@ViewBag.DateSort">
                    @Localizer["registration_date"]
                </a>
            </th>
            <th scope="col">@Localizer["datails"]</th>
            <th scope="col">@Localizer["limits"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Role</td>
                <td>@user.UserName</td>
                <td>@user.Status</td>
                <td>@user.CreateTime</td>
                <td><a asp-action="UserDetails" asp-route-id="@user.Id" class="button xbox">Profile</a></td>
                <td><a asp-route-id="@user.Id" class="button xbox">Limits</a></td>

            </tr>
        }


    </tbody>
</table>



<div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount

    @if (Model.HasPreviousPage)
    {
        @Html.ActionLink("<<", "UserListForAdmin", new { page = 1, sortOrder = ViewBag.CurrentSort, userName = ViewBag.UserNameFilter })
        @Html.Raw(" ");
        @Html.ActionLink("< Prev", "UserListForAdmin", new { page = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort, userName = ViewBag.UserNameFilter })
    }
    else
    {
        @:<<
        @Html.Raw(" ");
        @:< Prev
    }

    @if (Model.HasNextPage)
    {
        @Html.ActionLink("Next >", "UserListForAdmin", new { page = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort, userName = ViewBag.UserNameFilter })
        @Html.Raw(" ");
        @Html.ActionLink(">>", "UserListForAdmin", new { page = Model.PageCount, sortOrder = ViewBag.CurrentSort, userName = ViewBag.UserNameFilter })
    }
    else
    {
        @:Next >
        @Html.Raw(" ")
        @:>>
    }
</div>

<style>
    a.button.xbox {
        background: #c4e125;
        background: -webkit-gradient(linear, 0 0, 0 bottom, from(#c4e125), to(#88a819));
        background: -moz-linear-gradient(#c4e125, #88a819);
        background: linear-gradient(#c4e125, #88a819);
        border: solid 1px #829c15;
        border-bottom: solid 3px #819d15;
        box-shadow: inset 0 0 0 1px #c6da7b;
        color: #fff;
        text-shadow: 0 1px 0 #819d15;
    }

        a.button.xbox:hover {
            background: #88a819;
            background: -webkit-gradient(linear, 0 0, 0 bottom, from(#88a819), to(#c4e125));
            background: -moz-linear-gradient(#88a819, #c4e125);
            background: linear-gradient(#88a819, #c4e125);
            border: solid 1px #829c15;
            border-bottom: solid 3px #819d15;
            box-shadow: inset 0 0 0 1px #c6da7b;
        }

        a.button.xbox:active {
            background: #88a819;
            background: -webkit-gradient(linear, 0 0, 0 bottom, from(#88a819), to(#c4e125));
            background: -moz-linear-gradient(#88a819, #c4e125);
            background: linear-gradient(#88a819, #c4e125);
            border: solid 1px #829c15;
            box-shadow: inset 0 10px 15px 0 #819d15;
        }


    .search {
        width: 20%;
        position: relative;
        margin-top: 20px;
    }

        .search input {
            border: none;
        }

        .search .input {
            width: 100%;
            padding: 8px 37px 9px 15px;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
            border-radius: 20px;
            background: #EEE;
            font: 13px Tahoma, Arial, sans-serif;
            color: #555;
            outline: none;
        }

            .search .input:focus {
                box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
                background: #E8E8E8;
                color: #333;
            }

        .search .submit {
            position: absolute;
            top: 0;
            right: 0;
            width: 37px;
            height: 100%;
            cursor: pointer;
            background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
            opacity: 0.5;
        }

            .search .submit:hover {
                opacity: 0.8;
            }

    input[type="search"] {
        -webkit-appearance: none;
    }
</style>

