﻿@model List<ApplicationUser>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div id="searchresults">

    @if (Model.Count == 0)
    {
    <h4 class="text-center">@Localizer["there_are_no_users_to_display"]</h4>
    }
    @if (Model.Count > 0)
    {

        <div style="font-weight: bold;">
            <span style="width: 30%; display: inline-block;">@Localizer["name"]</span>
            <span style="width: 19%;  display: inline-block; text-align: center;">@Localizer["registration_date"]</span>
            <span style="width: 19%;  display: inline-block;">@Localizer["phone_number"]</span>
            <span style="width: 18%;  display: inline-block;">@Localizer["email"]</span>
            <span style="width: 10%;  display: inline-block;">@Localizer["status"]</span>
        </div>

        foreach (ApplicationUser user in Model)
        {

        <a class="btnHover" asp-action="UserDetails" asp-route-id="@user.Id" style="display: block; padding: 10px 0 5px; color: black; text-decoration: none; border-bottom: 1px solid silver;">
            <span style="width: 30%; display: inline-block;">@user.Name</span>
            <span style="width: 19%;  display: inline-block; text-align: center;">@user.CreateTime.ToShortDateString()</span>
            <span style="width: 19%;  display: inline-block;">@user.PhoneNumber</span>
            <span style="width: 18%;  display: inline-block;">@user.Email</span>
            <span style="width: 10%;  display: inline-block;">@user.Status</span>
        </a>

        }
    }

</div>

<style>
    #searchresults a.btnHover:hover {
        background: rgba(9, 30, 66, 0.04) !important;
    }
</style>
