﻿@model OnlineCreditsTeam1.Models.ManageViewModels.UserProfileViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer



<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div id="menuTabs">
    <ul class="buttons navContainer">
        <li><a class="btn tab-pane myBtn tab_btn" href="#UserInfo"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/manual.png" />@Localizer["user_info"]</a></li>
        <li><a class="btn tab-pane myBtn tab_btn" id="orders" href="#Orders"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/recommendation.png" />@Localizer["orders"]</a></li>
        <li><a class="btn tab-pane myBtn tab_btn" href="#Credits"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/suitcase.png" /> @Localizer["credits"]</a></li>
        <li><a class="btn tab-pane myBtn tab_btn" href="#History"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/calendar.png" /> @Localizer["story"]</a></li>
        @if (User.IsInRole("admin") || User.IsInRole("BankOperator"))
        {
            <li><a class="btn tab-pane myBtn tab_btn" id="reports" href="#User_Reports"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/report.png" /> Отчеты</a></li>
        }
    </ul>
    <div class="tabs">
        <div id="Orders" class="col-md-12 ">
            <h2>@Localizer["orders"]</h2>
            <div class="loader"></div>
        </div>

        <div id="Credits" class="col-md-12">
            <h2>@Localizer["credits"]</h2>
            <div class="loader"></div>
        </div>
        <div id="User_Reports">
            <h3 class="text-center">Сформировать отчет</h3>
            @Html.Partial("GetReportForm", ViewData["GetReportModel"])
        </div>
        <div id="History" class="col-md-12">
            <table class="table">
                <tr style="padding-bottom: 5px; border-bottom: 1px solid silver;">
                    <th style="width: 80%;">@Localizer["action"]</th>
                    <th style="width: 20%; border-left: 1px solid silver;">@Localizer["date"]</th>
                </tr>

            </table>
        </div>
        <div id="UserInfo" class="col-md-12">
            @if (User.IsInRole("admin"))
            {
                if (Model.Status == "Активен")
                {
                    <form method="post" asp-action="Locked" asp-controller="Roles" style="position: absolute; bottom: 22%; left: 5%; z-index: 10;">
                        <input type="hidden" name="userId" value="@Model.Id" />
                        <button class="btn btn-default" type="submit">@Localizer["block"]</button>
                        <a class="btn btn-default" asp-action="Edit" asp-route-userId="@Model.Id" asp-controller="Roles">@Localizer["role"]</a>

                    </form>
                }
                else
                {
                    <form method="post" asp-action="UnLocked" asp-controller="Roles" style="position: absolute; bottom: 22%; left: 2%; z-index: 10;">
                        <input type="hidden" name="userId" value="@Model.Id" />
                        <button class="btn btn-default" type="submit">@Localizer["unlock"]</button>
                        <a class="btn btn-default" asp-action="Edit" asp-route-userId="@Model.Id" asp-controller="Roles">@Localizer["role"]</a>

                    </form>
                }
            }


            <form id="profile-form" method="post" enctype="multipart/form-data" class="col-md-12">
                @Html.Partial("_StatusMessage", ViewData["StatusMessage"])
                <div asp-validation-summary="All" class="text-danger"></div>
                <div style="display: inline-block; max-width: 200px; float: left; margin-right: 15px;">
                    <div>
                        <img class="card-img-top" src="@Model.PhotoPath" style="width: 200px; height: 200px;" alt="User's profile image">
                    </div>

                </div>

                <div>
                    <div class="form-group custom_input_fields" style="display: block; width: 70%; float: right">
                        <p><b class="custom_label">@Localizer["name"] :</b> <input  asp-for="@Model.Name" value="@Model.Name" /><br /></p>
                        <p><b class="custom_label">@Localizer["phone_number"] :</b> <input asp-for="@Model.UserName" value="@Model.UserName" /><br /></p>
                        <p><b class="custom_label">@Localizer["email"] :</b> <input asp-for="@Model.Email" value="@Model.Email" /><br /></p>   
                        <p><b class="custom_label">@Localizer["registration_date"] :</b> @Model.CreateDate.ToShortDateString()</p>
                        @if (Model.Role == "MarketOperator")
                        {
                            <p><b class="custom_label">@Localizer["bik"]:</b> <input asp-for="@Model.Requisits.Bik" value="@Model.Requisits.Bik" /><br /></p>
                            <p><b class="custom_label">@Localizer["bank_details"]:</b> <input asp-for="@Model.Requisits.BankAccountNumber" value="@Model.Requisits.BankAccountNumber" /><br /></p>
                            <p><b class="custom_label">@Localizer["legal_address"]:</b> <input asp-for="@Model.Requisits.LegalAdress" value="@Model.Requisits.LegalAdress" /><br /></p>
                        }
                        @if (Model.Role == "BankOperator" || Model.Role == "admin")
                        {
                            <p><b class="custom_label">@Localizer["inn"]:</b> <input asp-for="@Model.Requisits.Inn" value="@Model.Requisits.Inn" /><br /></p>
                        }
                        @if (Model.Role == "user")
                        {
                            <p><b class="custom_label">@Localizer["requisites"]:</b></p>
                        }
                        <input type="hidden" id="userId" value="@Model.Id" />
                        <div class="form-group" style="overflow: hidden;">
                            <p>@Localizer["edit_photo"]</p>
                            <input asp-for="PhotoFile" class="form-control" style="float: left; width: 40%; border: none; box-shadow: none; border-bottom: 1px solid silver;" />

                            <div asp-validation-summary="All" class="text-danger"></div>
                        </div>
                        <br />
                        <div>
                            <button type="submit" class="btn btn-default"> @Localizer["save"]</button>
                        </div>

                    </div>

                </div>

            </form>

            <a id="logs" type="button" class="btn btn-default">Show User logs</a>

            <div id="modalLogs" style="display: none; background: rgba(0, 0, 0, 0.5); z-index: 999; position: fixed; top: 0px; left: 0px; width: 100%; height: 100%;">
                <div style="position: absolute; top: 15%; left: 6%; width: 90%; border: 1px solid silver; padding: 10px; z-index: 99999; background: white;">
                    <h3>Текущее время : @DateTime.Now.Hour:@DateTime.Now.Minute <a id="btn_close" class="btn btn-default" type="button">Закрыть</a></h3>
                    <div id="logWindow" style="background: white;">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Tabs initialisation-->
<script>
    $("#menuTabs").tabs();
</script>

<!--Tabs custom actions-->
<script>
    $(".tab_btn").click(
        function () {
            window.location = this.href;
        });
    window.addEventListener('hashchange', function () {
        var x = `[href="${window.location.hash}"]`;
        $(x)[0].click();
    });
    $("#logs").on('click',
        function () {
            $.ajax({
                type: 'GET',
                data: {userId: $('#userId').val()},
                success: $('#logWindow').load('@Url.Action("GetLogsByUserId", "Orders")?userId=' + $('#userId').val())
            });
        });
    $("#logs").on('click',
        function () {
            $("#modalLogs").show();
        });
    $("#btn_close").on('click',
        function () {
            $("#modalLogs").hide();
        });
    $("#orders").on('click',
        function () {
            $.ajax({
                type: 'GET',
                data: {userId: $('#userId').val()},
                success: $('#Orders').load('@Url.Action("GetOrdersById", "UserManagement")?userId=' + $('#userId').val())
            });
        });

</script>




