﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.inner_tab_btns {
    padding: 0 10px 10px 10px;
    margin-left: 5px;
}

.loader {
    height: 4px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
}

    .loader:before {
        display: block;
        position: absolute;
        content: "";
        left: -200px;
        width: 200px;
        height: 4px;
        background-color: #2980b9;
        animation: loading 2s linear infinite;
    }

@keyframes loading {
    from {
        left: -200px;
        width: 30%;
    }

    50% {
        width: 30%;
    }

    70% {
        width: 70%;
    }

    80% {
        left: 50%;
    }

    95% {
        left: 120%;
    }

    to {
        left: 100%;
    }
}

.inner_tab_btns li {
    margin-right: 10px;
    padding: 0px;
    list-style-type: none;
    width: 15%;
    float: left;
    outline: none;
}

.custom_label {
    min-width: 100px;
    display: inline-block;
}

.custom_input_fields input {
    border: none;
    border-bottom: 1px solid silver;
    min-width: 30%;
}

.inner_pane {
    outline: none !important;
    padding: 10px;
    text-align: center;
    width: 100%;
    color: black;
    font-size: 14px;
    text-decoration: none !important;
    display: inline-block;
}

.navContainer {
    position: fixed;
    left: 0;
    height: 100%;
    background: rgb(244, 245, 247);
}

    .navContainer > li {
        padding: 0 10px;
    }

.tabs {
    float: right;
    width: 80%;
}


.badge-green {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: gray;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: greenyellow;
    border-radius: 10px;
}

.buttons {
    margin-right: 10px;
    padding: 0px;
    list-style-type: none;
    width: 20%;
    float: left;
    outline: none;
}

.myBtn {
    outline: none !important;
    padding: 10px;
    text-align: left;
    overflow: hidden;
    width: 100%;
    color: black;
    font-size: 13px;
}

    .myBtn:hover {
        background: rgba(9, 30, 66, 0.04);
    }

.ui-tabs-active {
    background: rgba(9, 30, 66, 0.04);
}

    .ui-tabs-active .myBtn {
        color: rgb(0, 82, 204);
    }

    .ui-tabs-active .inner_pane {
        color: rgb(0, 82, 204);
    }

.table .btnHover:hover {
    background: rgba(9, 30, 66, 0.04) !important;
}

.modal_area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.modal_window {
    position: absolute;
    top: 15%;
    width: 450px;
    left: 50%;
    margin-left: -225px;
    z-index: 9999;
    background-color: white;
    padding: 15px;
}

#btn_close {
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
}

#success_message {
    position: absolute;
    bottom: 0px;
    color: rgba(0, 0, 0, 0.9);
    left: 0px;
    text-align: center;
    width: 100%;
    padding: 5px;
    margin-bottom: 0;
    background: #b8f7b8;
}
