@using System.Linq
@using Microsoft.AspNetCore.Identity
@using OnlineCreditsTeam1.Models
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User) && UserManager.Users.ToList().Contains(UserManager.GetUserAsync(User).Result))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            @if (User.IsInRole("user"))
            {
                <li>
                    <a asp-area="" asp-controller="Manage" asp-action="UserProfile" title="Manage">@UserManager.GetUserAsync(User).Result.Name</a>
                </li>
            }
            else if (User.IsInRole("admin"))
            {
                <li>
                    <a asp-area="" asp-controller="Manage" asp-action="AdminProfile" title="Manage">@UserManager.GetUserAsync(User).Result.Name</a>
                </li>
            }
            else if (User.IsInRole("MarketOperator"))
            {
                <li>
                    <a asp-area="" asp-controller="Manage" asp-action="MarketOperatorProfile" title="Manage">@UserManager.GetUserAsync(User).Result.Name</a>
                </li>
            }
            else if (User.IsInRole("BankOperator"))
            {
                <li>
                    <a asp-area="" asp-controller="Manage" asp-action="BankOperatorProfile" title="Manage">@UserManager.GetUserAsync(User).Result.Name</a>
                </li>
            }
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">@Localizer["log_out"]</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">@Localizer["register"]</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="CheckUser">@Localizer["log_in"]</a></li>
    </ul>
}
