﻿@model string
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@if (!String.IsNullOrEmpty(Model))
{

    var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";

    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p>@Model</p>
    </div>
}