﻿@model System.Collections.Generic.List<OnlineCreditsTeam1.Models.MicroCredit>

<div class="row">
    <div class="col-md-12">
        @if (Model.Count > 0)
        {
            <table class="table table-bordered">
                <tr>
                    <th>№</th>
                    <th>Тип платежа</th>
                    <th>Дата оформления заявки</th>
                    <th>Дата погашения</th>
                    <th>Сумма</th>
                    <th>Валюта</th>
                    <th>Реквизиты</th>
                    <th>Статус</th>
                </tr>
                @{int i = 1;}
                @foreach (var credit in Model)
                {
                <tr>
                    <td>@i</td>
                    <td>@credit.Description</td>
                    <td>@credit.BeginDate.ToShortDateString()</td>
                    <td>@credit.FinishDate.ToShortDateString()</td>
                    <td>@credit.Sum</td>
                    <td>@credit.Currency</td>
                    <td>@credit.Requisite</td>
                    <td>@credit.Status</td>

                </tr>
                    i++;
                }
            </table>
        }
        else
        {
            <h3>Нет ни одного оформленного кредита</h3>
        }
    </div>
</div>