﻿@model IEnumerable<OnlineCreditsTeam1.Models.Payment>

@{
    ViewData["Title"] = "Index";
}

<h2>Доступные платежи</h2>

<p>
    <a class="btn tab-pane myBtn tab_btn" id="paymentsCreate" href="#_Payments"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/payment.png" />Добавить новый вид платежа </a>

</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Название
                </th>
                <th>
                    Срок микрокредита
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <label>@item.Name</label>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Term)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script> $("#paymentsCreate").on('click',
    function () {
        $.ajax({
            type: 'GET',
            success: $('#_Payments').load('@Url.Action("Create", "Payments")')
        });
    });</script>