﻿@model OnlineCreditsTeam1.Models.ManageViewModels.UserProfileViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject UserManager<ApplicationUser> UserManager




<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="~/js/jquery.maskedinput.js" charset="utf-8"></script>


<div id="menuTabs">
    <ul class="buttons navContainer">
        <li><a class="btn tab-pane myBtn tab_btn" href="#User_Info"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/manual.png" /> @Localizer["user_info"]</a></li>
        <li><a class="btn tab-pane myBtn tab_btn" id="orders" href="#_Orders"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/recommendation.png" /> @Localizer["orders"]</a></li>
        <li><a class="btn tab-pane myBtn tab_btn" id="limits" href="#_Limits"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/suitcase.png" /> @Localizer["limits"]</a></li>
        <li><a class="btn tab-pane myBtn tab_btn" id="providers" href="#_Providers"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/Provider.png" />@Localizer["provaiders"]</a></li>
        <li><a class="btn tab-pane myBtn tab_btn" id="payments" href="#_Payments"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/payment.png" />@Localizer["types_of_payments"]</a></li>
        <li><a class="btn tab-pane myBtn tab_btn" id="userLogs" href="#_History"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/calendar.png" /> @Localizer["story"]</a></li>
        <li><a class="btn tab-pane myBtn tab_btn" id="percentRates" href="#_Rates"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/tax.png" />@Localizer["rates"]</a></li>
        <li><a class="btn tab-pane myBtn tab_btn" id="users" href="#_Users"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/friends.png" /> @Localizer["users"]</a></li>
        <li><a class="btn tab-pane myBtn tab_btn" id="settings" href="#_Settings"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/settings.png" />@Localizer["settings"]</a></li>
        <li><a class="btn tab-pane myBtn tab_btn" id="createUser" href="#_CreateUser"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/person.png" /> @Localizer["create_user"]</a></li>
        <li><a class="btn tab-pane myBtn " asp-area="" asp-controller="Roles" asp-action="Index">@Localizer["roles"]</a></li>


    </ul>
    <div class="tabs">
        <div id="_Orders" class="col-md-12 ">
            <h2>Orders</h2>
            <div class="loader"></div>
        </div>
    <div id="_Settings" class="col-md-12 ">
        <div class="loader"></div>
    </div>
    <div id="_CreateUser">
        <div class="loader"></div>
    </div>
        <div id="_Users" class="col-md-12 ">

            <div id="innerTabs">

                <ul class="inner_tab_btns">
                    <li><a id="client-1" href="#clients-1" class="inner_pane"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/user.png" />@Localizer["users"]</a></li>
                    <li><a id="client-2" href="#clients-2" class="inner_pane"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/group.png" />@Localizer["corporate_clients"]</a></li>
                    <li><a id="client-3" href="#clients-3" class="inner_pane"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/banking.png" /> @Localizer["bank_operators"]</a></li>
                </ul>
                <div id="clients-1" class="col-md-12 ">
                    <div class="loader"></div>
                </div>
                <div id="clients-2" class="col-md-12 ">
                    <div class="loader"></div>
                </div>
                <div id="clients-3" class="col-md-12 ">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
        <div id="_Rates" class="col-md-12">
            <div id="innerTabs_Rates">

                <ul class="inner_tab_btns">
                    <li style="width: 22%;"><a id="showRate" href="#showRates" class="inner_pane"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/manual.png" />@Localizer["rates"]</a></li>
                    <li><a id="rateCreateForm" href="#createRate" class="inner_pane"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/edit.png" />@Localizer["create_rate"]</a></li>
                </ul>
                <div id="showRates">
                    <div class="tabs" style="float: left; margin-top: 10px; margin-left: 18px;">
                        <a id="showDefaultRates" href="#Rates" style="margin-right: 7px;" class="btn btn-default">@Localizer["rates"]</a>
                        <a id="showLowerRates" href="#LowerRates" class="btn btn-default">@Localizer["low_rates"]</a>
                    </div>
                    <div style="padding-top: 5px;display: block;overflow: hidden;float: left;" id="defaultRates" class="col-md-12 ">
                        <div class="loader"></div>
                    </div>
                    <div style="padding-top: 5px;" id="lowerRates" hidden class="col-md-12 ">
                        <div class="loader"></div>
                    </div>
                </div>
                <div id="createRate" class="col-md-12" style="padding-top: 15px;">
                    <a class="btn btn-default" href="#CreateRate" id="defaultRateBtn">@Localizer["create_rate"]</a>
                    <a class="btn btn-default" href="#CreateLowerRate" id="lowRateBtn">@Localizer["create_low_rate"]</a>
                    <div id="standartRate">
                        <form asp-action="CreateStandart" asp-controller="Rate">
                            <div style="width: 50%; padding: 15px; border: 1px solid silver; border-radius: 5px; margin-top: 15px;">
                                <h4>@Localizer["standard_rate"]</h4>

                                <div>
                                    <p>@Localizer["interest_rate_start_date"]</p>
                                    <input type="date" id="BeginDate1" class="form-control" asp-for="InterestRate.BeginDate" />
                                    <span asp-validation-for="InterestRate.BeginDate" class="text-danger"></span>
                                </div>
                                <div>
                                    <p>@Localizer["interest_rate_expiration_date"]</p>
                                    <input type="date" id="FinishDate1" class="form-control" asp-for="InterestRate.FinishDate" />
                                    <span asp-validation-for="InterestRate.FinishDate" class="text-danger"></span>
                                </div>
                                <div>
                                    <p>@Localizer["loan_term_from:"]</p>
                                    <input type="text" id="CreditTermFrom1" placeholder="@Localizer["enter_the_number_of_months"]" class="form-control" asp-for="InterestRate.CreditTermFrom" />
                                    <span asp-validation-for="InterestRate.CreditTermFrom" class="text-danger"></span>
                                </div>
                                <div>
                                    <p>@Localizer["loan_term_to:"]</p>
                                    <input type="text" id="CreditTermTo1" placeholder="@Localizer["enter_the_number_of_months"]" class="form-control" asp-for="InterestRate.CreditTermTo" />
                                    <span asp-validation-for="InterestRate.CreditTermTo" class="text-danger"></span>
                                </div>
                                <div>
                                    <p>@Localizer["сurrency_code"]</p>
                                    <input type="number" value="417" class="form-control" asp-for="InterestRate.CurrencyCode" />
                                </div>
                                <div>
                                    <p>@Localizer["amount_from:"]</p>
                                    <input type="number" id="TotalSumFrom1" class="form-control" asp-for="InterestRate.TotalSumFrom" />
                                    <span asp-validation-for="InterestRate.TotalSumFrom" class="text-danger"></span>
                                </div>
                                <div>
                                    <p>@Localizer["amount_to:"]</p>
                                    <input type="number" id="TotalSumTo1" class="form-control" asp-for="InterestRate.TotalSumTo" />
                                    <span asp-validation-for="InterestRate.TotalSumTo" class="text-danger"></span>
                                </div>
                                <div>
                                    <p>@Localizer["select_a_customer_to_assign_interest_rates:"]</p>

                                    <select asp-for="InterestRate.CorpClientId" class="form-control">
                                        <option value=@null>@Localizer["for_all_users"]</option>
                                        @foreach (ApplicationUser keyValue in ViewBag.UserList)
                                        {
                                        <option value="@keyValue.Id"> @Localizer["name"]: @keyValue.Name | @Localizer["role"]: @keyValue.Role | @Localizer["phone_number"]: @keyValue.UserName </option>
                                        }
                                    </select>
                                </div>
                                <div>
                                    <p>@Localizer["rate"]</p>
                                    <input type="number" id="PercentRate1" class="form-control" asp-for="InterestRate.PercentRate" />
                                    <span asp-validation-for="InterestRate.PercentRate" class="text-danger"></span>
                                </div>
                                <div style="margin-top: 5px;">
                                    <button type="submit" class="btn btn-default center-block">@Localizer["create"]</button>
                                </div>
                            </div>


                        </form>
                    </div>
                    <div id="lowRate" hidden>
                        <form asp-action="CreateLow" asp-controller="Rate">
                            <div style="width: 50%; padding: 15px; border: 1px solid silver; border-radius: 5px; margin-top: 15px;">
                                <h4>@Localizer["low_rate"]</h4>
                                <div>
                                    <p>@Localizer["interest_rate_start_date"]</p>
                                    <input type="date" id="BeginDate2" class="form-control" asp-for="PreferentialInterestRate.BeginDate" />
                                    <span asp-validation-for="PreferentialInterestRate.BeginDate" class="text-danger"></span>
                                </div>
                                <div>
                                    <p>@Localizer["interest_rate_expiration_date"]</p>
                                    <input type="date" id="FinishDate2" class="form-control" asp-for="PreferentialInterestRate.FinishDate" />
                                    <span asp-validation-for="PreferentialInterestRate.FinishDate" class="text-danger"></span>
                                </div>
                                <div>
                                    <p>@Localizer["loan_term_from:"]</p>
                                    <input type="text" id="CreditTermFrom2" placeholder="@Localizer["enter_the_number_of_months"]" class="form-control" asp-for="PreferentialInterestRate.CreditTermFrom" />
                                    <span asp-validation-for="PreferentialInterestRate.CreditTermFrom" class="text-danger"></span>
                                </div>
                                <div>
                                    <p>@Localizer["loan_term_to:"]</p>
                                    <input type="text" id="CreditTermTo2" placeholder="@Localizer["enter_the_number_of_months"]" class="form-control" asp-for="PreferentialInterestRate.CreditTermTo" />
                                    <span asp-validation-for="PreferentialInterestRate.CreditTermTo" class="text-danger"></span>
                                </div>
                                <div>
                                    <p>@Localizer["сurrency_code"]</p>
                                    <input type="number" value="417" class="form-control" asp-for="PreferentialInterestRate.CurrencyCode" />
                                </div>
                                <div>
                                    <p>@Localizer["amount_from:"]</p>
                                    <input type="number" id="TotalSumFrom2" class="form-control" asp-for="PreferentialInterestRate.TotalSumFrom" />
                                    <span asp-validation-for="PreferentialInterestRate.TotalSumFrom" class="text-danger"></span>
                                </div>
                                <div>
                                    <p>@Localizer["amount_to:"]</p>
                                    <input type="number" id="TotalSumTo2" class="form-control" asp-for="PreferentialInterestRate.TotalSumTo" />
                                    <span asp-validation-for="PreferentialInterestRate.TotalSumTo" class="text-danger"></span>
                                </div>
                                <div>
                                    <p>@Localizer["client_Id_for_bidding:"]</p>
                                    <select asp-for="PreferentialInterestRate.CorpClientId" class="form-control">
                                        @foreach (ApplicationUser keyValue in ViewBag.UserList)
                                        {
                                        <option value="@keyValue.Id"> @Localizer["name"]: @keyValue.Name | @Localizer["role"]: @keyValue.Role | @Localizer["phone_number"]: @keyValue.UserName </option>
                                        }
                                    </select>

                                </div>
                                <div>
                                    <p>@Localizer["rate"]</p>
                                    <input type="number" id="PercentRate2" class="form-control" asp-for="PreferentialInterestRate.PercentRateDown" />
                                    <span asp-validation-for="PreferentialInterestRate.PercentRateDown" class="text-danger"></span>
                                </div>
                                <div style="margin-top: 5px;">
                                    <button type="submit" class="btn btn-default center-block">@Localizer["create"]</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="_Limits" class="col-md-12">
            <div class="loader"></div>
        </div>
        <div id="_Providers" class="col-md-12">
            <div class="loader"></div>
        </div>
        <div id="_Payments" class="col-md-12">
            <div class="loader"></div>
        </div>
        

        <div id="_History" class="col-md-12">
            <div class="loader"></div>
        </div>
        <div id="User_Info" class="col-md-12">
            <form id="profile-form" method="post" enctype="multipart/form-data" class="col-md-12">
                @Html.Partial("_StatusMessage", @ViewData["StatusMessage"])
                <div asp-validation-summary="All" class="text-danger"></div>

                <div style="display: inline-block; max-width: 200px; float: left; margin-right: 15px;">
                    <div>
                        <img class="card-img-top" src="@UserManager.GetUserAsync(User).Result.PhotoPath" style="width: 200px; height: 200px;" alt="User's profile image">
                    </div>
                </div>
                <div>
                    <div class="form-group" style="display: block; width: 70%; float: left">
                        <p>
                            <b>@Localizer["role"]</b> :
                            @foreach (string s in ViewBag.RolesList)
                            {
                                @s
                                ;
                            }
                        </p>
                        <p><b>@Localizer["name"]</b> : @UserManager.GetUserAsync(User).Result.Name</p>
                        <p><b>@Localizer["phone_number"]</b> : @UserManager.GetUserAsync(User).Result.UserName</p>

                        @if (string.IsNullOrEmpty(@UserManager.GetUserAsync(User).Result.Email))
                        {
                            <p>@Localizer["email_address_not_specified"]</p>
                            <p>
                                <input asp-for="@Model.Email" class="form-control" placeholder="@Localizer["enter_email"]" style="float: left; width: 220px;" />
                                <span asp-validation-for="@Model.Email" class="text-danger"></span>
                                <button type="submit" class="btn btn-default">@Localizer["save"]</button>
                            </p>
                        }
                        else
                        {
                            <p><b>@Localizer["email"]</b> : @UserManager.GetUserAsync(User).Result.Email</p>
                            <input type="hidden" value="@UserManager.GetUserAsync(User).Result.Email" asp-for="@Model.Email" />
                        }
                        <p><b>@Localizer["registration_date"]</b> : @UserManager.GetUserAsync(User).Result.CreateTime.ToShortDateString()</p>

                        <div class="form-group">
                            <p>@Localizer["edit_photo"]</p>
                            <p>@ViewBag.Message</p>
                            <input asp-for="PhotoFile" class="form-control" id="uploadImage" type="file" style="float: left; width: 300px;" />
                            <button type="submit" id="saveImage" class="btn btn-default">@Localizer["save"]</button>
                            <div asp-validation-summary="All" class="text-danger"></div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<!--Tabs initialisation-->
<script>
    $("#menuTabs").tabs();
    $("#innerTabs").tabs();
    $("#innerTabs_Rates").tabs();

</script>

<!--Tabs custom actions-->


<script>
    
    $(".tab_btn").click(
        function () {
            window.location = this.href;
        });
    window.addEventListener('hashchange', function () {
        var x = `[href="${window.location.hash}"]`;
        $(x)[0].click();
    });
    $("#defaultRateBtn").on('click',
        function() {
            $("#standartRate").show();
            $("#lowRate").hide();
        });
    $("#lowRateBtn").on('click',
        function () {
            $("#standartRate").hide();
            $("#lowRate").show();
        });
    $("#percentRates").on('click',
        function() {
            $.ajax({
                type: 'GET',
                success: $('#defaultRates').load('@Url.Action("GetRates", "Rate")')
            });

        });
    $(function() {
        $.ajax({
            type: 'GET',
            success: $('#defaultRates').load('@Url.Action("GetRates", "Rate")')
        });
    });
    $("#showDefaultRates").on('click',
        function() {
            $("#defaultRates").show();
            $("#lowerRates").hide();
        });
    $("#showLowerRates").on('click',
        function() {
            $.ajax({
                type: 'GET',
                success: $('#lowerRates').load('@Url.Action("GetLowerRates", "Rate")')
            });
            $("#defaultRates").hide();
            $("#lowerRates").show();
        });

    $("#userLogs").on('click',
        function () {
            $.ajax({
                type: 'GET',
                success: $('#_History').load('@Url.Action("GetAllLogs", "Manage")')
            });
        });

    $("#settings").on('click',
        function () {
            $.ajax({
                type: 'GET',
                success: $('#_Settings').load('@Url.Action("Settings", "Manage")')
            });
        });
    $("#client-1").on('click',
        function () {
            $.ajax({
                type: 'GET',
                data: { role: "user" },
                success: $('#clients-1').load('@Url.Action("GetUserByRole", "UserManagement")?role=' + "user")
            });
        });
    $("#client-2").on('click',
        function () {
            $.ajax({
                type: 'GET',
                data: { role: "MarketOperator" },
                success: $('#clients-2').load('@Url.Action("GetUserByRole", "UserManagement")?role=' + "MarketOperator")
            });
        });
    $("#client-3").on('click',
        function () {
            $.ajax({
                type: 'GET',
                data: { role: "BankOperator" },
                success: $('#clients-3').load('@Url.Action("GetUserByRole", "UserManagement")?role=' + "BankOperator")
            });
        });

    $("#orders").on('click',
        function () {
            $.ajax({
                type: 'GET',
                success: $('#_Orders').load('@Url.Action("GetOrders", "UserManagement")')
            });
        });
    $("#users").on('click',
        function () {
            $.ajax({
                type: 'GET',
                data: { role: "user" },
                success: $('#clients-1').load('@Url.Action("GetUserByRole", "UserManagement")?role=' + "user")
            });
        });

    $("#limits").on('click',
        function () {
            $.ajax({
                type: 'GET',
                success: $('#_Limits').load('@Url.Action("GetLimits", "Limits")')
            });
        });
    $("#providers").on('click',
        function () {
            $.ajax({
                type: 'GET',
                success: $('#_Providers').load('@Url.Action("Index", "Providers")')
            });
        });
    $("#payments").on('click',
        function () {
            $.ajax({
                type: 'GET',
                success: $('#_Payments').load('@Url.Action("Index", "Payments")')
            });
        });
    $("#createUser").on('click',
        function () {
            $.ajax({
                type: 'GET',
                success: $('#_CreateUser').load('@Url.Action("CreatureByTheAdminUser", "Account")')
            });
        });
    $(function() {
        $.ajax({
            type: 'GET',
            success: $('#_CreateUser').load('@Url.Action("CreatureByTheAdminUser", "Account")')
        });
    });
    $(function() {
        $.ajax({
            type: 'GET',
            success: $('#_Payments').load('@Url.Action("Index", "Payments")')
        });
    });
    $(function() {
        $.ajax({
            type: 'GET',
            success: $('#_Providers').load('@Url.Action("Index", "Providers")')
        });
    });
   
   


</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
