﻿@model OnlineCreditsTeam1.Models.ManageViewModels.UserProfileViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject UserManager<ApplicationUser> UserManager

<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div id="menuTabs">
    <ul class="buttons navContainer">
        <li><a class="btn tab-pane myBtn tab_btn" href="#User_Info"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/manual.png" /> @Localizer["user_info"]</a></li>
        <li><a class="btn tab-pane myBtn tab_btn" id="orders" href="#_Orders"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/recommendation.png" />@Localizer["orders"]</a></li>
        <li><a class="btn tab-pane myBtn tab_btn" href="#_Credits"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/suitcase.png" /> @Localizer["credits"]</a></li>
        <li><a class="btn tab-pane myBtn tab_btn" id="userLogs" href="#_History"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/calendar.png" /> @Localizer["story"]</a></li>
        <li><a class="btn tab-pane myBtn tab_btn" id="users" href="#_Users"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/friends.png" /> @Localizer["users"]</a></li>
    </ul>
    <div class="tabs">
        <div id="_Orders" class="col-md-12 ">
            <h2>@Localizer["orders"]</h2>
            <div class="loader"></div>
        </div>
        <div id="_Users" class="col-md-12 ">
            <div id="innerTabs">
                <ul class="inner_tab_btns">
                    <li><a id="client-1" href="#clients" class="inner_pane"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/user.png" />@Localizer["users"]</a></li>
                    <li><a id="client-2" href="#corporate_clients" class="inner_pane"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/group.png" />@Localizer["corporate_clients"]</a></li>
                </ul>
                <div id="clients" class="col-md-12 ">
                    <div class="loader"></div>
                </div>
                <div id="corporate_clients" class="col-md-12 ">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
        <div id="_Credits" class="col-md-12">
            <h2>@Localizer["credits"]</h2>
            <div class="loader"></div>
        </div>

        <div id="_History" class="col-md-12">
            <table class="table">
                <tr style="padding-bottom: 5px; border-bottom: 1px solid silver;">
                    <th style="width: 80%;">@Localizer["action"]</th>
                    <th style="width: 20%; border-left: 1px solid silver;">@Localizer["date"]</th>
                </tr>
            </table>
        </div>
        <div id="User_Info" class="col-md-12">
            <form id="profile-form" method="post" enctype="multipart/form-data" class="col-md-12">
                @Html.Partial("_StatusMessage", @ViewData["StatusMessage"])
                <div asp-validation-summary="All" class="text-danger"></div>

                <div style="display: inline-block; max-width: 200px; float: left; margin-right: 15px;">
                    <div>
                        <img class="card-img-top" src="@UserManager.GetUserAsync(User).Result.PhotoPath" style="width: 200px; height: 200px;" alt="User's profile image">
                    </div>
                </div>
                <div>
                    <div class="form-group" style="display: block; width: 70%; float: left">
                        <p>
                            <b>@Localizer["role"]</b> :
                            @foreach (string s in ViewBag.RolesList)
                            {
                                @s
                                ;
                            }
                        </p>
                        <p><b>@Localizer["name"]</b> : @UserManager.GetUserAsync(User).Result.Name</p>
                        <p><b>@Localizer["phone_number"]</b> : @UserManager.GetUserAsync(User).Result.UserName</p>

                        @if (string.IsNullOrEmpty(@UserManager.GetUserAsync(User).Result.Email))
                        {
                            <p>@Localizer["email_address_not_specified"]</p>
                            <p>
                                <input asp-for="@Model.Email" class="form-control" placeholder="@Localizer["enter_email"]" style="float: left; width: 220px;" />
                                <span asp-validation-for="@Model.Email" class="text-danger"></span>
                                <button type="submit" class="btn btn-default">@Localizer["save"]</button>
                            </p>
                        }
                        else
                        {
                            <p><b>@Localizer["email"]</b> : <input value="@UserManager.GetUserAsync(User).Result.Email" asp-for="@Model.Email" /></p>

                        }
                        <p><b>@Localizer["registration_date"]</b> : @UserManager.GetUserAsync(User).Result.CreateTime.ToShortDateString()</p>
                        <p><b>ИНН</b> : @ViewBag.Inn</p>
                        <div class="form-group">
                            <p>@Localizer["edit_photo"]</p>
                            <input asp-for="PhotoFile" class="form-control" style="float: left; width: 300px;" />
                            <button type="submit" class="btn btn-default">@Localizer["save"]</button>
                            <div asp-validation-summary="All" class="text-danger"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Tabs initialisation-->
<script>
    $("#menuTabs").tabs();
    $("#innerTabs").tabs();
</script>

<!--Tabs custom actions-->
<script>
    $(".tab_btn").click(
        function () {
            window.location = this.href;
        });
    window.addEventListener('hashchange', function () {
        var x = `[href="${window.location.hash}"]`;
        $(x)[0].click();
    });
    $("#userLogs").on('click',
        function () {
            $.ajax({
                type: 'GET',
                success: $('#_History').load('@Url.Action("GetAllLogs", "Manage")')
            });
        });
    $("#client-1").on('click',
        function () {
            $.ajax({
                type: 'GET',
                data: { role: "user" },
                success: $('#clients').load('@Url.Action("GetUserByRole", "UserManagement")?role=' + "user")
            });
        });
    $("#users").on('click',
        function () {
            $.ajax({
                type: 'GET',
                data: { role: "user" },
                success: $('#clients').load('@Url.Action("GetUserByRole", "UserManagement")?role=' + "user")
            });
        });
    $("#client-2").on('click',
        function () {
            $.ajax({
                type: 'GET',
                data: { role: "MarketOperator" },
                success: $('#corporate_clients').load('@Url.Action("GetUserByRole", "UserManagement")?role=' + "MarketOperator")
            });
        });
    $("#orders").on('click',
        function () {
            $.ajax({
                type: 'GET',
                success: $('#_Orders').load('@Url.Action("GetOrders", "UserManagement")')
            });
        });
</script>
