﻿@model GetReportModel
@inject UserManager<ApplicationUser> UserManager

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div style="border: 1px solid silver; padding: 10px; border-radius: 5px;">
            <form method="get" asp-controller="Report" asp-action="GetReport">
                <h4 class="text-center">Выберите параметры формирования отчета</h4>
                <div style="margin-top: 10px;">
                    <b class="form-label">Дата с</b>
                    <input required asp-for="BeginDate" placeholder="Укажите начальную дату" class="form-control" type="date" />
                </div>
                <div style="margin-top: 10px;">
                    <b class="form-label">Дата по</b>
                    <input required asp-for="FinishDate" placeholder="Укажите конечную дату" class="form-control" type="date" />
                </div>
                <h5 class="text-center" style="margin: 10px;">Выберите необходимую информацию для формирования отчета</h5>
                <div style="margin: 10px 0; padding: 0 10px;">
                    <label for="declined_orders"><input asp-for="DeclinedOrders" id="declined_orders" placeholder="" type="checkbox" /> Отклоненные заявки</label>
                </div>
                <div style="margin: 10px 0; padding: 0 10px;">
                    <label for="confirmed_orders"><input asp-for="ConfirmedOrders" id="confirmed_orders" placeholder="" type="checkbox" />Утвержденные заявки</label>
                </div>
                <div style="margin-top: 10px; padding: 0 10px;">
                    <label for="sell_dynamic"><input id="sell_dynamic" placeholder="" type="checkbox" /> Динамика роста продаж</label>
                </div>
                <input type="hidden" value="@UserManager.GetUserAsync(User).Result.Id" asp-for="UserId" />
                <div class="text-center">
                    <button type="submit" class="btn btn-default">
                        Получить отчет
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
<style>
    .form-label {
        margin-bottom: 5px;
        margin-left: 5px;
        display: block;
        font-weight: bold;
    }

    label:hover {
        cursor: pointer;
    }

    label {
        display: block;
        padding-left: 15px;
        text-indent: -15px;
    }

    input {
        width: 13px;
        height: 13px;
        padding: 0;
        margin: 0;
        vertical-align: bottom;
        position: relative;
        top: -1px;
        *overflow: hidden;
    }
</style>