﻿@model OnlineCreditsTeam1.Models.ManageViewModels.UserProfileViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject UserManager<ApplicationUser> UserManager


<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div id="menuTabs">
    <ul class="buttons navContainer">
        <li><a class="btn tab-pane myBtn tab_btn" data-fragment="1" href="#User_Info"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/manual.png" /> @Localizer["user_info"]</a></li>
        <li><a class="btn tab-pane myBtn tab_btn" id="orders" href="#_Orders"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/recommendation.png" /> @Localizer["orders"]</a></li>
        <li><a class="btn tab-pane myBtn tab_btn" href="#_Credits"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/suitcase.png" /> @Localizer["credits"]</a></li>
        <li><a class="btn tab-pane myBtn tab_btn" id="userLogs" href="#_History"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/calendar.png" /> @Localizer["story"]</a></li>
        <li><a class="btn tab-pane myBtn tab_btn" id="reports" href="#_Reports"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/report.png" /> Отчеты</a></li>
        <li><a class="btn tab-pane myBtn tab_btn" id="users" href="#_Users"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/friends.png" /> @Localizer["users"]</a></li>
    </ul>
    <div class="tabs">
        <div id="_Orders" class="col-md-12 ">
            <h3>Загружаем список заявок</h3>
            <div class="loader"></div>
        </div>
        <div id="_Users" class="col-md-12 ">
            <h3>Загружаем список пользователей</h3>
            <div class="loader"></div>
        </div>
        <div id="_Credits" class="col-md-12">
            <h2>Credits</h2>
            <div class="loader"></div>
        </div>

        <div id="_History" class="col-md-12">
            <div class="loader"></div>
        </div>
        <div id="_Reports">
            <h3 class="text-center">Сформировать отчет</h3>
         
            @Html.Partial("GetReportForm", new OnlineCreditsTeam1.Models.GetReportModel())
        </div>
        <div id="User_Info" class="col-md-12">
            <form id="profile-form" method="post" enctype="multipart/form-data" class="col-md-12">
                @Html.Partial("_StatusMessage", @ViewData["StatusMessage"])
                <div asp-validation-summary="All" class="text-danger"></div>

                <div style="display: inline-block; max-width: 200px; float: left; margin-right: 15px;">
                    <div>
                        <img class="card-img-top" src="@UserManager.GetUserAsync(User).Result.PhotoPath" style="width: 200px; height: 200px;" alt="User's profile image">
                    </div>
                </div>
                <div>
                    <div class="form-group" style="display: block; width: 70%; float: left">
                        <p><b>@Localizer["name"]</b> : @UserManager.GetUserAsync(User).Result.Name</p>
                        <p><b>@Localizer["phone_number"]</b> : @UserManager.GetUserAsync(User).Result.UserName</p>
                        <input type="hidden" id="shopId" value="@UserManager.GetUserAsync(User).Result.Id" />

                        @if (string.IsNullOrEmpty(@UserManager.GetUserAsync(User).Result.Email))
                        {
                            <p>@Localizer["email_address_not_specified"]</p>
                            <p>
                                <input asp-for="@Model.Email" class="form-control" placeholder="@Localizer["enter_email"]" style="float: left; width: 220px;" />
                                <span asp-validation-for="@Model.Email" class="text-danger"></span>
                                <button type="submit" class="btn btn-default">@Localizer["save"]</button>
                            </p>
                        }
                        else
                        {
                            <p><b>@Localizer["email"]</b> : <input value="@UserManager.GetUserAsync(User).Result.Email" asp-for="@Model.Email" /></p>

                        }
                        <p><b>@Localizer["registration_date"]</b> : @UserManager.GetUserAsync(User).Result.CreateTime.ToShortDateString()</p>
                        <p><b>Реквизиты банка</b> : @ViewBag.BankAccountNumber</p>
                        <p><b>БИК</b> : @ViewBag.Bik</p>
                        <p><b>Юридический адрес</b> : @ViewBag.LegalAdress</p>
                        <div class="form-group">
                            <p>@Localizer["edit_photo"]</p>
                            <input asp-for="PhotoFile" class="form-control" style="float: left; width: 300px;" />
                            <button type="submit" class="btn btn-default">@Localizer["save"]</button>
                            <div asp-validation-summary="All" class="text-danger"></div>
                        </div>
                    </div>
                </div>
            </form>
            <h4>@Localizer["instruction_for_code_below"]</h4>
            <br>
            <pre style="height: 300px; overflow: scroll;">
            <code>
            <span>&ltform name="userForm"&gt</span>
            <span>&ltinput type="hidden" name="id" value="0"&gt</span>
            <span>&ltdiv class="form-group"&gt</span>
            <span>&ltlabel for="name">Имя:&lt/label&gt</span><span>&ltinput class="form-control" id="name" name="name"&gt</span>
            <span>&ltlabel for="lastName">Фамилия:&lt/label&gt</span><span>&ltinput class="form-control" id="lastname" name="lastName"&gt</span>
            <span>&ltlabel for="fatherName">Отчество:&lt/label&gt</span><span>&ltinput class="form-control" id="fathername" name="fatherName"&gt</span>
            <span>&lt/div&gt</span>
            <span>&ltdiv class="form-group"&gt</span>
            <span>&ltlabel for="phone"&gtНомер Телефона:&lt/label&gt</span><span>&ltinput class="form-control" id="phoneNumber" name="phone"&gt</span>
            <span>&ltlabel for="email"&gtEmail&lt/label&gt</span><span>&ltinput class="form-control" id="email" name="email"&gt</span>
            <span>&ltinput type="hidden" name="OrderInfo" id="OrderInfo"&gt</span>
            <span>&lt/div&gt</span>
            <span>&ltdiv class="form-group"&gt</span>
            <span>&ltlabel for="sum"&gtСумма:&lt/label&gt</span><span>&ltinput class="form-control" id="sum" name="sum" /&gt</span>
            <span>&lt/div&gt</span>
            <span>&ltdiv class="panel-body"&gt</span>
            <span>&ltbutton type="submit" class="btn btn-sm btn-primary"&gtОтправить&lt/button&gt</span>
            <span>&lt/div&gt</span>
            <span>&lt/form&gt</span>
        </code>
            <code>
            <span>&ltscript&gt</span>
                function PutOrder() {
                $.ajax({
                url: "https://localhost:11111/api/Orders",
                contentType: "application/json;charset=utf-8",
                method: "POST",
                data: JSON.stringify({
                MarketId: "@UserManager.GetUserId(User)",
                Name: $("#name").val(),
                LastName: $("#lastname").val(),
                FatherName: $("#fathername").val(),
                OrderInfoJson: $("#OrderInfo").val(),
                PhoneNumber: $("#phoneNumber").val(),
                Email: $("#email").val(),
                Sum: $("#sum").val()
                }),

                success: function() {
                alert("You Win!");
                }
                });
                }

                // отправка формы
                $("form").submit(function(e) {
                e.preventDefault();
                PutOrder();
                });
            <span>&lt/script&gt</span>
            </code>
    </pre>
        </div>
    </div>
</div>
<!--Tabs initialisation-->
<script>
    $("#menuTabs").tabs();
</script>

<!--Tabs custom actions-->
<script>
    $(".tab_btn").click(
        function () {
            window.location = this.href;
        });
    window.addEventListener('hashchange', function () {
        var x = `[href="${window.location.hash}"]`;
        $(x)[0].click();
    });
    $("#users").on('click',
        function () {
            $.ajax({
                type: 'GET',
                data: { shopId: $('#shopId').val() },
                success: $('#_Users').load('@Url.Action("GetUsersByShopId", "UserManagement")?shopId=' + $('#shopId').val())
            });
        });
    $("#orders").on('click',
        function () {
            $.ajax({
                type: 'GET',
                data: {shopId: $('#shopId').val()},
                success: $('#_Orders').load('@Url.Action("GetOrdersByShopId", "UserManagement")?shopId=' + $('#shopId').val())
            });
        });
    $("#userLogs").on('click',
        function () {
            $.ajax({
                type: 'GET',
                data: {userId: $('#shopId').val()},
                success: $('#_History').load('@Url.Action("GetUserLogs", "Manage")?userId=' + $('#shopId').val())
            });
        });
</script>

