﻿@model OnlineCreditsTeam1.Models.ManageViewModels.UserProfileViewModel
@inject UserManager<ApplicationUser> UserManager

<form method="post" asp-controller="MicroCredit" asp-action="CreateCredit">
    <h3 class="text-center">Получить микрозайм</h3>
    <div class="margin_class">
        <label for="type_select">Тип получения средств</label>
        <select asp-for="Credit.Description" id="type_select" class="form-control">
            <option value="0" selected disabled>Выберите тип</option>
            <option value="Mobile_Payment">Пополнить баланс мобильного</option>
            <option value="Card_Payment">Пополнить баланс карты</option>
            <option value="Online_Wallet">Пополнить онлайн кошелек</option>
        </select>
    </div>
    <div class="margin_class">
        <label for="provider">Выберите провайдера</label>
        <select class="form-control" id="provider">
            <option value="0" disabled selected>Выберите провайдера услуг</option>
           
        </select>
    </div>
    <div class="margin_class">
        <label for="requisites">Реквизиты</label>
        <input asp-for="Credit.Requisite" id="requisites" placeholder="Укажите реквизиты для зачисления средств" class="form-control" type="text" />
    </div>
    <div class="margin_class">
        <label for="currency">Валюта</label>
        <select asp-for="Credit.Currency" class="form-control" id="currency">
            <option disabled selected>Выберите валюту</option>
            <option value="Usd">Доллар США</option>
            <option value="Kgs">Сом</option>
            <option value="Kzt">Тенге</option>
            <option value="Rub">Рубль</option>
        </select>
    </div>
    <input type="hidden" asp-for="Credit.UserId" value="@UserManager.GetUserAsync(User).Result.Id" />
    <div class="margin_class">
        <label for="credit_sum">Сумма займа</label>
        <input asp-for="Credit.Sum" class="form-control" id="credit_sum" type="text" />
    </div>
    <input type="hidden" value="@DateTime.Now" asp-for="Credit.BeginDate"/>
    <div class="margin_class">
        <label for="finish_date">Дата погашения</label>
        <input asp-for="Credit.FinishDate" class="form-control" id="finish_date" type="date" />
    </div>
    <div>
        <button type="submit">Оформить</button>
    </div>


</form>

<style>
    .margin_class {
        margin: 10px 0;
    }
</style>