﻿
@model OnlineCreditsTeam1.Models.SettingsViewModels.SettingViewModel






<div class="col-md-12" style="padding-top: 15px; margin-top: 15px;">
    <h4 class="text-left">Глобальные настройки</h4>
    <form asp-action="Settings" asp-controller="Manage">
        <div style="width: 50%; padding: 15px; border: 3px solid silver; border-radius: 10px; margin-top: 15px;">
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Размер загружаемых файлов:</label>
                <div class="col-sm-10">
                    <input id="fail_length" max="4096" min="128" type="number" asp-for="@Model.FileSize" />  <span style="font-weight: bold;">Kb</span>
                    <span asp-validation-for="@Model.FileSize" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Сумма автопринятия заявки:</label>
                <div class="col-sm-10">
                    <input type="number" max="999999" min="1" asp-for="@Model.SumAutoAcceptOrder" />  <span style="font-weight: bold;">Cом</span>
                    <span asp-validation-for="@Model.SumAutoAcceptOrder" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Дата автоотмены заявки:</label>
                <div class="col-sm-10">
                    <input type="number" max="60" min="1" asp-for="@Model.AutoCancelOrder" />  <span style="font-weight: bold;">Дней</span>
                    <span asp-validation-for="@Model.AutoCancelOrder" class="text-danger"></span>
                </div>
            </div>

            <button type="submit" class="btn btn-block">Сохранить</button>
        </div>
    </form>
</div>
