﻿@model OnlineCreditsTeam1.Models.ManageViewModels.UserProfileViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject UserManager<ApplicationUser> UserManager



<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div id="menuTabs">
    <ul class="buttons navContainer">
        <li><a class="btn tab-pane myBtn tab_btn" href="#User_Info"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/manual.png" />@Localizer["user_info"]</a></li>
        <li><a class="btn tab-pane myBtn tab_btn" id="orders" href="#_Orders"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/recommendation.png" /> @Localizer["orders"]</a></li>
        <li><a class="btn tab-pane myBtn tab_btn" id="credits" href="#_Credits"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/suitcase.png" /> Микрокредиты</a></li>
        <li><a class="btn tab-pane myBtn tab_btn" id="userLogs" href="#_History"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/calendar.png" /> @Localizer["story"]</a></li>
    </ul>
    <div class="tabs">
       
        <div>
            @Html.Partial("_StatusMessage", @ViewData["Message"])
            <div id="_Orders" class="col-md-12 ">
                <h2>@Localizer["orders"]</h2>

                <div class="loader"></div>
            </div>
        </div>
        <div id="_Credits" class="col-md-12">
            <h2>@Localizer["credits"]</h2>
            <div class="loader"></div>
        </div>

        <div id="_History" class="col-md-12">
            <div id="logs">
                <div class="loader"></div>
            </div>
        </div>
        <div id="User_Info" class="col-md-12">
            <div style="display: block; float: left; width: 65%; overflow: hidden;">
                <form method="post" enctype="multipart/form-data" class="col-md-12 " asp-action="UserProfile">
                    @Html.Partial("_StatusMessage", @ViewData["StatusMessage"])
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div style="display: inline-block; max-width: 200px; float: left; margin-right: 15px;">
                        <div>
                            <img class="card-img-top" src="@UserManager.GetUserAsync(User).Result.PhotoPath" style="width: 200px; height: 200px;" alt="User's profile image">
                        </div>
                    </div>
                    <div>
                        <div class="form-group" style="display: block; width: 70%; float: left">

                            <p><b>@Localizer["name"]</b> : @UserManager.GetUserAsync(User).Result.Name</p>
                            <p><b>@Localizer["phone_number"]</b> : @UserManager.GetUserAsync(User).Result.UserName</p>
                            <input type="hidden" id="userId" value="@UserManager.GetUserAsync(User).Result.Id" />

                            @if (string.IsNullOrEmpty(@UserManager.GetUserAsync(User).Result.Email))
                            {
                                <p>@Localizer["email_address_not_specified"]</p>
                                <p>
                                    <input asp-for="@Model.Email" class="form-control" placeholder="@Localizer["enter_email"]" style="float: left; width: 220px;" />
                                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                                    <button type="submit" class="btn btn-default">@Localizer["save"]</button>
                                </p>
                            }
                            else
                            {
                                <p><b>@Localizer["email"]</b> : <input value="@UserManager.GetUserAsync(User).Result.Email" asp-for="@Model.Email" /></p>

                            }
                            <p><b>@Localizer["registration_date"]</b> : @UserManager.GetUserAsync(User).Result.CreateTime.ToShortDateString()</p>
                            <div class="form-group">
                                <p>@Localizer["edit_photo"]</p>
                                <input asp-for="PhotoFile" class="form-control" style="float: left; width: 300px;" />
                                <button type="submit" class="btn btn-default">@Localizer["save"]</button>
                                <div asp-validation-summary="All" class="text-danger"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="microCreditForm" style="display: block; width: 30%; float: left; padding: 15px; border-radius: 5px; border: 1px solid silver; margin-top: 10px;">
                @Html.Partial("MicroCreditFormPartial")
            </div>
            
        </div>
    </div>
</div>
<!--Tabs initialisation-->
<script>
    $("#menuTabs").tabs();
</script>

<!--Tabs custom actions-->
<script>
    $(".tab_btn").click(
        function () {
            window.location = this.href;
        });
    window.addEventListener('hashchange', function () {
        var x = `[href="${window.location.hash}"]`;
        $(x)[0].click();
    });
    $("#orders").on('click',
        function () {
            $.ajax({
                type: 'GET',
                data: {userId: $('#userId').val()},
                success: $('#_Orders').load('@Url.Action("GetOrdersById", "UserManagement")?userId=' + $('#userId').val())
            });
        });
    $("#credits").on('click',
        function () {
            $.ajax({
                type: 'GET',
                data: {userId: $('#userId').val()},
                success: $('#_Credits').load('@Url.Action("GetUserCredits", "MicroCredit")?userId=' + $('#userId').val())
            });
        });
    $("#userLogs").on('click',
        function () {
            $.ajax({
                type: 'GET',
                data: {userId: $('#userId').val()},
                success: $('#_History').load('@Url.Action("GetUserLogs", "Manage")?userId=' + $('#userId').val())
            });
        });
  
    $("#uploadScan").on('click',
        function() {
            $(".modal_area").show();
            $(".modal_window").show(300);
        });
    $("#btn_close").on('click',
        function() {
            $(".modal_area").hide();
            $(".modal_window").hide(300);
        });

</script>



