﻿@model LogViewModel
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <div>
        @if (Model.Logs.Count > 0)
        {
            <table class="table">
                <tr class="tbl-borders">
                    <th style="border-right: 1px solid silver;">Действие</th>
                    @if (User.IsInRole("admin"))
                    {
                        <th>Имя пользователя</th>
                        <th>Ссылка на профиль</th>
                    }
                    <th>Дата</th>

                </tr>
                @foreach (var log in Model.Logs)
                {

                    <tr class="tbl-borders">

                        <td>
                            @log.Action
                        </td>
                        @if (User.IsInRole("admin"))
                        {
                            <td>@UserManager.FindByIdAsync(log.UserId).Result.Name</td>
                            <td><a asp-action="UserDetails" asp-controller="UserManagement" asp-route-id="@log.UserId">Перейти к профилю</a></td>
                        }
                        <td>@log.ActionDate</td>
                    </tr>

                }
            </table>
        }
        <style>
            .tbl_borders {
                border-bottom: 1px solid silver;
            }

            .tbl-borders td {
                border-right: 1px solid silver;
            }
            .tbl-borders th {
                border-right: 1px solid silver;
            }
        </style>
    </div>
</body>
</html>