﻿@model OnlineCreditsTeam1.Models.Limit
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Delete";
}



<h3>@Localizer["sure_you_want_to_remove_this_limit"]</h3>
<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Localizer["user"]
        </dt>
        @if (Model.UserId == null)
        {
            <dd>
                @Localizer["all"]
            </dd>
        }
        else
        {
            <dd>
                @Html.DisplayFor(model => model.User.UserName)
            </dd>
        }

            <dt>
                @Localizer["period"]
            </dt>
        <dd>
            @Html.DisplayFor(model => model.Period)
        </dd>
        <dt>
            @Localizer["start_of_validity_limit"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomLimitBeginDate)
        </dd>
        <dt>
            @Localizer["end_of_limit"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomLimitFinishDate)
        </dd>
        <dt>
            @Localizer["maximum_number_of_credits_for_the_period"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxOrdersOnPeriod)
        </dd>
        <dt>
            @Localizer["the_number_of_loans_already_taken_for_the_period"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LimitNumberCounter)
        </dd>
        <dt>
            @Localizer["the_amount_of_loans_already_taken_for_the_period"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LimitSumCounter)
        </dd>
        <dt>
            @Localizer["maximum_amount_of_credits_for_the_period"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxSumOnPeriod)
        </dd>
        <dt>
            @Localizer["maximum_loan_term"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxCreditSprint)
        </dd>
        <dt>
            @Localizer["active"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Localizer["delete"]" class="btn btn-default" />

    </form>
</div>
