﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model List<Limit>
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
@{
    ViewData["Title"] = "Лимиты";
}
<div id="createbutton"><button id="createLimit" class="btn btn-default" type="submit">Создать лимит</button></div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["start_of_validity_limit"]
            </th>
            <th>
                @Localizer["end_of_limit"]
            </th>
            <th>
                @Localizer["maximum_number_of_credits_for_the_period"]
            </th>
            <th>
                @Localizer["the_number_of_loans_already_taken_for_the_period"]
            </th>
            <th>
                @Localizer["maximum_amount_of_credits_for_the_period"]
            </th>
            <th>
                @Localizer["the_amount_of_loans_already_taken_for_the_period"]
            </th>
            <th>
                @Localizer["maximum_loan_term"]
            </th>
            <th>
                @Localizer["active"]
            </th>
            <th>
                @Localizer["user"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomLimitBeginDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomLimitFinishDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxOrdersOnPeriod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LimitNumberCounter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxSumOnPeriod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LimitSumCounter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxCreditSprint)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isActive)
                </td>

                @if (item.UserId == null)
                {
                <td>@Localizer["global"]</td>
                }
                else
                {
                    <td>@item.User.UserName</td>
                }

                <td>
                    <a asp-route-id="@item.Id" asp-controller="Limits" asp-action="Delete">@Localizer["delete"]</a>
                    <a asp-route-id="@item.Id" asp-controller="Limits" asp-action="Edit">@Localizer["edit"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $("#createLimit").click(
        function () {
            $.ajax({ type: 'GET', success: $('#_Limits').load('@Url.Action("CreateLimit", "Limits")') });
        });

</script>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
