﻿@model OnlineCreditsTeam1.Models.Limit
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Создать";
}

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<hr />
<div>

    <form id="frm" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="text-danger"></div>
                <div class="form-group">
                    <label>@Localizer["maximum_loan_term"]</label>
                    <input asp-for="MaxCreditSprint" type="number" id="limitSprint" min="0" max="24" class="form-control" placeholder="Пустое поле значит неограниченное колличество" />
                    <span asp-validation-for="MaxCreditSprint" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>
                        <input type="checkbox" asp-for="isActive" checked />
                        <span class="pcheckbox"> </span>@Localizer["active"]
                    </label>
                </div>
                <div class="form-group">
                    <label>@Localizer["maximum_number_of_credits_for_the_period"]</label>
                    <input asp-for="MaxOrdersOnPeriod" type="number" min="0" max="9999" class="form-control" placeholder="@Localizer["empty_field_means_unlimited"]" />
                    <span asp-validation-for="MaxOrdersOnPeriod" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>@Localizer["maximum_amount_of_credits_for_the_period"]</label>
                    <input asp-for="MaxSumOnPeriod" type="number" min="0" max="99999999" class="form-control" placeholder="@Localizer["empty_field_means_unlimited_amount"]" />
                    <span asp-validation-for="MaxSumOnPeriod" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>@Localizer["period"]</label>
                    <select name="Period" id="createLimitsPeriod" class="form-control">
                        @foreach (KeyValuePair<string, string> keyValue in ViewBag.PeriodsListByCreate)
                        {
                            <option value="@keyValue.Value">@keyValue.Key</option>
                        }
                    </select>
                    <span asp-validation-for="Period" class="text-danger"></span>
                </div>
                <div class="form-group" id="beginDateLimit"> </div>
                <div class="form-group" id="finishDateLimit"> </div>



                <div class="form-group">
                    <input type="submit" id="btnCreateLimit" value="@Localizer["create"]" class="btn btn-default" />
                </div>

            </div>
            <div class="col-md-4">
                <input type="text" name="userName" id="serchName" placeholder="@Localizer["search"]" class="input" />
                <input type='button' id="submit" value='@Localizer["search"]' />
                <div id="tablUsers" class="form-group">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Localizer["name"]
                                </th>
                                <th>
                                    @Localizer["number"]
                                </th>
                                <th>
                                    @Localizer["role"]
                                </th>
                                <th>
                                    @Localizer["choose"]
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="3">@Localizer["global"]</td>
                                <td>
                                    <label>
                                        <input type="checkbox" name="users" value="global" />
                                        <span class="pcheckbox"> </span>
                                    </label>
                                </td>
                            </tr>
                            @foreach (ApplicationUser user in ViewBag.Users)
                            {
                                <tr>
                                    <td>
                                        @user.Name
                                    </td>
                                    <td>
                                        @user.UserName
                                    </td>
                                    <td>
                                        @user.Role
                                    </td>
                                    <td>
                                        <label>
                                            <input type="checkbox" name="users" value="@user.Id" />
                                            <span class="pcheckbox"> </span>
                                        </label>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </form>
</div>

<script type='text/javascript'>


    $(document).ready(function () {

        $('#submit').click(function (e) {
            e.preventDefault();
            var searchKey = $('#serchName').val();
            searchKey = encodeURIComponent(searchKey);
            $('#tablUsers').load('@Url.Action("GetUsers", "Limits")?keyWord=' + searchKey);
        });
    });
    $(function () {
        $('#createLimitsPeriod').change(function () {

            if (this.value == 'Custom') {

                $('#beginDateLimit').append(
                    "<div class=\"form-group\" id=\"beginDate\"><label>Начало срока лимита</label><input id=\"datepicker\" name=\"begindate\"type=\"text\" class=\"form-control\" autocomplete=\"off\" /><span asp-validation-for=\"CustomLimitBeginDate\" class=\"text-danger\"></span></div>");
                $('#finishDateLimit').append(
                    "<div class=\"form-group\" id=\"finishDate\"><label>Конец срока лимита</label><input id=\"datepicker1\" name=\"finishdate\" type=\"text\" class=\"form-control\" autocomplete=\"off\"/><span asp-validation-for=\"CustomLimitFinishDate\" class=\"text-danger\"></span></div>");

                $(function () {
                    $("#datepicker").datepicker({
                        inline: true,
                        showOtherMonths: true,
                        dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
                        minDate: 0,
                        dateFormat: "mm/dd/yy",
                        defaultdate: new Date('12/02/2019'),
                        onSelect: function (dateText, inst) {

                            $("input[name='begindate']").val(dateText);
                            $("#datepicker1").val(null);
                            $("#datepicker1").datepicker("destroy");
                            var start = $('#datepicker').val();
                            $("#datepicker1").datepicker({
                                inline: true,
                                showOtherMonths: true,
                                dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
                                minDate: new Date(new Date(start).setDate(new Date(start).getDate() + 1)),
                                dateFormat: "mm/dd/yy",
                                onSelect: function (dateText, inst) {

                                    $("input[name='finishdate']").val(dateText);
                                }
                            }).attr('required', 'required');
                        }
                    }).attr('required', 'required');
                });

                $(function () {
                    $("#datepicker1").datepicker({
                        inline: true,
                        showOtherMonths: true,
                        dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
                        minDate: 1,
                        dateFormat: "mm/dd/yy",
                        onSelect: function (dateText, inst) {
                            $("input[name='finishdate']").val(dateText);
                        }
                    }).attr('required', 'required');
                });
                $("#datepicker").keydown(function (event) {
                    event.preventDefault();
                });
                $("#datepicker1").keydown(function (event) {
                    event.preventDefault();
                });
            }

            else {
                $('#beginDate').remove();
                $('#finishDate').remove();
            }

        });

    });

</script>

<style>

    input[type=checkbox] {
        display: none;
    }

    .pcheckbox::before {
        content: "\00A0";
        display: inline-block;
        box-sizing: border-box;
        width: 20px;
        height: 20px;
        background-color: white;
        border: 2px solid #B0B0B0;
        border-radius: 2px;
        margin-right: 6px;
        vertical-align: baseline;
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 12px;
        line-height: 16px;
        font-weight: bold;
        color: #808080;
    }

    input[type=checkbox]:checked + .pcheckbox::before {
        content: "\2713";
    }
    /* DatePicker Container */
    .ui-datepicker {
        width: 216px;
        height: auto;
        margin: 5px auto 0;
        font: 9pt Arial, sans-serif;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    }

        .ui-datepicker a {
            text-decoration: none;
        }
        /* DatePicker Table */
        .ui-datepicker table {
            width: 100%;
        }

    .ui-datepicker-header {
        background: repeat 0 0 #000;
        color: #e0e0e0;
        font-weight: bold;
        -webkit-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 2);
        -moz-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
        box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
        text-shadow: 1px -1px 0px #000;
        filter: dropshadow(color=#000, offx=1, offy=-1);
        line-height: 30px;
        border-width: 1px 0 0 0;
        border-style: solid;
        border-color: #111;
    }

    .ui-datepicker-title {
        text-align: center;
    }

    .ui-datepicker-prev, .ui-datepicker-next {
        display: inline-block;
        width: 30px;
        height: 30px;
        text-align: center;
        cursor: pointer;
        background-image: url('../img/arrow.png');
        background-repeat: no-repeat;
        line-height: 600%;
        overflow: hidden;
    }

    .ui-datepicker-prev {
        float: left;
        background-position: center -30px;
    }

    .ui-datepicker-next {
        float: right;
        background-position: center 0px;
    }

    .ui-datepicker thead {
        background-color: #f7f7f7;
        background-image: -moz-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#f1f1f1));
        background-image: -webkit-linear-gradient(top, #f7f7f7 0%,#f1f1f1 100%);
        background-image: -o-linear-gradient(top, #f7f7f7 0%,#f1f1f1 100%);
        background-image: -ms-linear-gradient(top, #f7f7f7 0%,#f1f1f1 100%);
        background-image: linear-gradient(top, #f7f7f7 0%,#f1f1f1 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f1f1f1',GradientType=0 );
        border-bottom: 1px solid #bbb;
    }

    .ui-datepicker th {
        text-transform: uppercase;
        font-size: 6pt;
        padding: 5px 0;
        color: #666666;
        text-shadow: 1px 0px 0px #fff;
        filter: dropshadow(color=#fff, offx=1, offy=0);
    }

    .ui-datepicker tbody td {
        padding: 0;
        border-right: 1px solid #bbb;
    }

        .ui-datepicker tbody td:last-child {
            border-right: 0px;
        }

    .ui-datepicker tbody tr {
        border-bottom: 1px solid #bbb;
    }

        .ui-datepicker tbody tr:last-child {
            border-bottom: 0px;
        }

    .ui-datepicker td span, .ui-datepicker td a {
        display: inline-block;
        font-weight: bold;
        text-align: center;
        width: 30px;
        height: 30px;
        line-height: 30px;
        color: #666666;
        text-shadow: 1px 1px 0px #fff;
        filter: dropshadow(color=#fff, offx=1, offy=1);
    }

    .ui-datepicker-calendar .ui-state-default {
        background: #ededed;
        background: -moz-linear-gradient(top, #ededed 0%, #dedede 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#dedede));
        background: -webkit-linear-gradient(top, #ededed 0%,#dedede 100%);
        background: -o-linear-gradient(top, #ededed 0%,#dedede 100%);
        background: -ms-linear-gradient(top, #ededed 0%,#dedede 100%);
        background: linear-gradient(top, #ededed 0%,#dedede 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 );
        -webkit-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
        -moz-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
        box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
    }

    .ui-datepicker-calendar .ui-state-hover {
        background: #f7f7f7;
    }

    .ui-datepicker-calendar .ui-state-active {
        background: #6eafbf;
        -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
        -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
        box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
        color: #e0e0e0;
        text-shadow: 0px 1px 0px #4d7a85;
        filter: dropshadow(color=#4d7a85, offx=0, offy=1);
        border: 1px solid #55838f;
        position: relative;
        margin: -1px;
    }

    .ui-datepicker-unselectable .ui-state-default {
        background: #f4f4f4;
        color: #b4b3b3;
    }

    .ui-datepicker-calendar td:first-child .ui-state-active {
        width: 29px;
        margin-left: 0;
    }

    .ui-datepicker-calendar td:last-child .ui-state-active {
        width: 29px;
        margin-right: 0;
    }

    .ui-datepicker-calendar tr:last-child .ui-state-active {
        height: 29px;
        margin-bottom: 0;
    }
</style>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

