﻿@model List<ApplicationUser>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["name"]
            </th>
            <th>
                @Localizer["number"]
            </th>
            <th>
                @Localizer["role"]
            </th>
            <th>
                @Localizer["choose"]
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="3">@Localizer["global"]</td>
            <td>
                <label>
                    <input type="checkbox" />
                    <span class="pcheckbox"> </span>
                </label>
            </td>
        </tr>
        @foreach (ApplicationUser user in Model)
        {
            <tr>
                <td>
                    @user.Name
                </td>
                <td>
                    @user.UserName
                </td>
                <td>
                    @user.Role
                </td>
                <td>
                    <label>
                        <input type="checkbox" name="users" value="@user.Id" />
                        <span class="pcheckbox"> </span>
                    </label>
                </td>
            </tr>
        }
    </tbody>
</table>
