﻿@model OnlineCreditsTeam1.Models.Provider

@{
    ViewData["Title"] = "Create";
}



<h4>Провайдер</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Название</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentId" class="control-label">Тип платежа</label>
                <select asp-for="PaymentId" class ="form-control" asp-items="ViewBag.PaymentId"></select>
            </div>
            <div class="form-group">
                
                <button type="submit" class="btn btn-default center-block">Добавить</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Список провайдеров</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
