﻿@model IEnumerable<OnlineCreditsTeam1.Models.Provider>

@{
    ViewData["Title"] = "Index";
}

<h2>Доступные провайдеры</h2>

<p>
    <a class="btn tab-pane myBtn tab_btn" id="providersCreate" href="#_Providers"><img style="margin-right: 5px;" src="~/StaticData/Anonymous/Provider.png" />Добавить провайдера </a>
    
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Провайдеры
                </th>
            <th>
                Виды платежей
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить платеж</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script>$("#providersCreate").on('click',
    function () {
        $.ajax({
            type: 'GET',
            success: $('#_Providers').load('@Url.Action("Create", "Providers")')
        });
    });</script>