﻿@model OnlineCreditsTeam1.Models.ManageViewModels.UserProfileViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div id="standartRate" class="col-md-12" style="padding-top: 15px; margin-top: 15px;">
    <form asp-action="CreateStandart" asp-controller="Rate">
        <div style="width: 40%; padding: 15px; margin-left: 400px; border: 1px solid silver; border-radius: 5px; margin-top: 15px;">
            <h4>@Localizer["could_not_create_standard_bid"]</h4><br />
            <p>@ViewBag.message</p><br />
            <p>@ViewBag.MessageError</p><br /><br />
            <div>
                <p>@Localizer["interest_rate_start_date"]</p>
                <input type="date" id="BeginDate1" class="form-control" asp-for="InterestRate.BeginDate" />
                <span asp-validation-for="InterestRate.BeginDate" class="text-danger"></span>
            </div>
            <div>
                <p>@Localizer["interest_rate_expiration_date"]</p>
                <input type="date" id="FinishDate1" class="form-control" asp-for="InterestRate.FinishDate" />
                <span asp-validation-for="InterestRate.FinishDate" class="text-danger"></span>
            </div>
            <div>
                <p>@Localizer["loan_term_from:"]</p>
                <input type="text" id="CreditTermFrom1" placeholder="@Localizer["enter_the_number_of_months"]" class="form-control" asp-for="InterestRate.CreditTermFrom" />
                <span asp-validation-for="InterestRate.CreditTermFrom" class="text-danger"></span>
            </div>
            <div>
                <p>@Localizer["loan_term_to:"]</p>
                <input type="text" id="CreditTermTo1" placeholder="@Localizer["enter_the_number_of_months"]" class="form-control" asp-for="InterestRate.CreditTermTo" />
                <span asp-validation-for="InterestRate.CreditTermTo" class="text-danger"></span>
            </div>
            <div>
                <p>@Localizer["сurrency_code"]</p>
                <input type="number" value="417" class="form-control" asp-for="InterestRate.CurrencyCode" />
            </div>
            <div>
                <p>@Localizer["amount_from:"]</p>
                <input type="number" id="TotalSumFrom1" class="form-control" asp-for="InterestRate.TotalSumFrom" />
                <span asp-validation-for="InterestRate.TotalSumFrom" class="text-danger"></span>
            </div>
            <div>
                <p>@Localizer["amount_to:"]</p>
                <input type="number" id="TotalSumTo1" class="form-control" asp-for="InterestRate.TotalSumTo" />
                <span asp-validation-for="InterestRate.TotalSumTo" class="text-danger"></span>
            </div>
            <div>
                <p>@Localizer["select_a_customer_to_assign_interest_rates:"]</p>

                <select asp-for="InterestRate.CorpClientId" class="form-control">
                    <option value=@null>@Localizer["for_all_users"]</option>
                    @foreach (ApplicationUser keyValue in ViewBag.UserList)
                    {
                        <option value="@keyValue.Id"> @Localizer["name"]: @keyValue.Name | @Localizer["role"]: @keyValue.Role | @Localizer["phone_number"]: @keyValue.UserName </option>
                    }
                </select>
            </div>
            <div>
                <p>@Localizer["rate"]</p>
                <input type="number" id="PercentRate1" class="form-control" asp-for="InterestRate.PercentRate" />
                <span asp-validation-for="InterestRate.PercentRate" class="text-danger"></span>
            </div>
            <div style="margin-top: 5px;">
                <button type="submit" class="btn btn-default center-block">@Localizer["create"]</button>
            </div>
        </div>


    </form>
</div>