﻿@model OnlineCreditsTeam1.Models.ManageViewModels.UserProfileViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div id="standartRate" class="col-md-12" style="padding-top: 15px; margin-top: 15px;">
    <form asp-action="CreateLow" asp-controller="Rate">
        <div style="width: 40%; padding: 15px; margin-left: 400px; border: 1px solid silver; border-radius: 5px; margin-top: 15px;">
            <h4>@Localizer["could_not_create_preferential_rate"]</h4><br />
            @ViewBag.message<br />
            @ViewBag.MessageError<br /><br />
            <div>
                <p>@Localizer["interest_rate_start_date"]</p>
                <input type="date" id="BeginDate2" class="form-control" asp-for="PreferentialInterestRate.BeginDate" />
                <span asp-validation-for="PreferentialInterestRate.BeginDate" class="text-danger"></span>
            </div>
            <div>
                <p>@Localizer["interest_rate_expiration_date"]</p>
                <input type="date" id="FinishDate2" class="form-control" asp-for="PreferentialInterestRate.FinishDate" />
                <span asp-validation-for="PreferentialInterestRate.FinishDate" class="text-danger"></span>
            </div>
            <div>
                <p>@Localizer["loan_term_from:"]</p>
                <input type="text" id="CreditTermFrom2" placeholder="@Localizer["enter_the_number_of_months"]" class="form-control" asp-for="PreferentialInterestRate.CreditTermFrom" />
                <span asp-validation-for="PreferentialInterestRate.CreditTermFrom" class="text-danger"></span>
            </div>
            <div>
                <p>@Localizer["loan_term_to:"]</p>
                <input type="text" id="CreditTermTo2" placeholder="@Localizer["enter_the_number_of_months"]" class="form-control" asp-for="PreferentialInterestRate.CreditTermTo" />
                <span asp-validation-for="PreferentialInterestRate.CreditTermTo" class="text-danger"></span>
            </div>
            <div>
                <p>@Localizer["сurrency_code"]</p>
                <input type="number" value="417" class="form-control" asp-for="PreferentialInterestRate.CurrencyCode" />
            </div>
            <div>
                <p>@Localizer["amount_from:"]</p>
                <input type="number" id="TotalSumFrom2" class="form-control" asp-for="PreferentialInterestRate.TotalSumFrom" />
                <span asp-validation-for="PreferentialInterestRate.TotalSumFrom" class="text-danger"></span>
            </div>
            <div>
                <p>@Localizer["amount_to:"]</p>
                <input type="number" id="TotalSumTo2" class="form-control" asp-for="PreferentialInterestRate.TotalSumTo" />
                <span asp-validation-for="PreferentialInterestRate.TotalSumTo" class="text-danger"></span>
            </div>
            <div>
                <p>@Localizer["client_Id_for_bidding:"]</p>
                <select asp-for="PreferentialInterestRate.CorpClientId" class="form-control">
                    @foreach (ApplicationUser keyValue in ViewBag.UserList)
                    {
                        <option value="@keyValue.Id"> @Localizer["name"]: @keyValue.Name | @Localizer["role"]: @keyValue.Role | @Localizer["phone_number"]: @keyValue.UserName </option>
                    }
                </select>

            </div>
            <div>
                <p>@Localizer["rate"]</p>
                <input type="number" id="PercentRate2" class="form-control" asp-for="PreferentialInterestRate.PercentRateDown" />
                <span asp-validation-for="PreferentialInterestRate.PercentRateDown" class="text-danger"></span>
            </div>
            <div style="margin-top: 5px;">
                <button type="submit" class="btn btn-default center-block">@Localizer["create"]</button>
            </div>
        </div>


    </form>
</div>