﻿@model OnlineCreditsTeam1.Models.PreferentialInterestRate
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = Localizer["edit_rate"];
    Layout = "_Layout";
}

<h2 class="text-center">@Localizer["edit_rate"]</h2>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div style=" padding: 15px; border: 1px solid silver; border-radius: 5px; margin-top: 15px;">
            <form asp-action="EditLowerRate" asp-controller="Rate">
                <div style=" padding: 15px; border: 1px solid silver; border-radius: 5px; margin-top: 15px;">
                    <p>@ViewBag.message</p><br />
                    <p>@ViewBag.MessageError</p><br /><br />
                    <div>
                        <input type="hidden" value="@Model.Id" asp-for="Id" />
                        <p>@Localizer["interest_rate_start_date"]</p>
                        <input type="date" class="form-control" asp-for="@Model.BeginDate" />
                        <span asp-validation-for="@Model.BeginDate" class="text-danger"></span>
                    </div>
                    <div>
                        <p>@Localizer["interest_rate_expiration_date"]</p>
                        <input type="date" class="form-control" asp-for="@Model.FinishDate" />
                        <span asp-validation-for="@Model.FinishDate" class="text-danger"></span>
                    </div>
                    <div>
                        <p>@Localizer["loan_term_from:"]</p>
                        <input type="text" placeholder="@Localizer["enter_the_number_of_months"]" class="form-control" asp-for="@Model.CreditTermFrom" />
                        <span asp-validation-for="@Model.CreditTermFrom" class="text-danger"></span>
                    </div>
                    <div>
                        <p>@Localizer["loan_term_to:"]</p>
                        <input type="text" placeholder="@Localizer["enter_the_number_of_months"]" class="form-control" asp-for="@Model.CreditTermTo" />
                        <span asp-validation-for="@Model.CreditTermTo" class="text-danger"></span>
                    </div>
                    <div>
                        <p>@Localizer["сurrency_code"]</p>
                        <input type="number" class="form-control" asp-for="@Model.CurrencyCode" />
                    </div>
                    <div>
                        <p>@Localizer["amount_from:"]</p>
                        <input type="number" class="form-control" asp-for="@Model.TotalSumFrom" />
                        <span asp-validation-for="@Model.TotalSumFrom" class="text-danger"></span>
                    </div>
                    <div>
                        <p>@Localizer["amount_to:"]</p>
                        <input type="number" class="form-control" asp-for="@Model.TotalSumTo" />
                        <span asp-validation-for="@Model.TotalSumTo" class="text-danger"></span>
                    </div>
                    <div>
                        <p>@Localizer["select_a_customer_to_assign_interest_rates:"]</p>
                        <select asp-for="@Model.CorpClientId" class="form-control">
                            @foreach (ApplicationUser keyValue in ViewBag.UserList)
                            {
                            <option value="@keyValue.Id"> @Localizer["name"]: @keyValue.Name  |  @Localizer["role"]: @keyValue.Role  |  @Localizer["phone_number"]: @keyValue.UserName </option>
                            }
                        </select>
                    </div>
                    <div>
                        <p>@Localizer["rate"]</p>
                        <input type="number" class="form-control" asp-for="@Model.PercentRateDown" />
                        <span asp-validation-for="@Model.PercentRateDown" class="text-danger"></span>
                    </div>
                    <div style="margin-top: 5px;">
                        <button type="submit" class="btn btn-default center-block">@Localizer["edit"]</button>
                    </div>
                </div>


            </form>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
