﻿@using OnlineCreditsTeam1.Models
@model System.Collections.Generic.List<OnlineCreditsTeam1.Models.PreferentialInterestRate>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="row">
    <div class="col-md-12">
        <h3>@Localizer["rates"]</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>@Localizer["interest_rate_start_date"]</th>
                    <th>@Localizer["interest_rate_expiration_date"]</th>
                    <th>@Localizer["loan_term_from:"]</th>
                    <th>@Localizer["loan_term_to:"]</th>
                    <th>@Localizer["сurrency_code"]</th>
                    <th>@Localizer["amount_from:"]</th>
                    <th>@Localizer["amount_to:"]</th>
                    <th>@Localizer["phone_number"]</th>
                    <th>@Localizer["rate"]</th>
                    <th>@Localizer["actions"]</th>
                </tr>
                @foreach (PreferentialInterestRate rate in @Model)
                {
                    <tr>
                        <td>@rate.Id</td>
                        <td>@rate.BeginDate.ToShortDateString()</td>
                        <td>@rate.FinishDate</td>
                        <td>@rate.CreditTermFrom</td>
                        <td>@rate.CreditTermTo</td>
                        <td>@rate.CurrencyCode</td>
                        <td>@rate.TotalSumFrom</td>
                        <td>@rate.TotalSumTo</td>
                        <td>@rate.CorpClient</td>
                        <td>@rate.PercentRateDown</td>
                        <td>
                            <a asp-action="DeleteLowerRate" asp-controller="Rate" asp-route-id="@rate.Id">@Localizer["delete"]</a>
                            <a asp-action="EditLowerRate" asp-controller="Rate" asp-route-id="@rate.Id">@Localizer["edit"]</a>
                        </td>
                    </tr>
                }
            </thead>
        </table>
    </div>
</div>